/// High-priority combos
CUSTOM_COMBO_PANIC(  lh4lh2rh4rh2,   LH4 LH2 RH4 RH2,    &tog AFK                       )
CUSTOM_COMBO_PANIC(  lh5lh2rh3,      LH5 LH2 RH3,        &tog AFK                       )

/// ---------------------------------------------------------------------------
/// special combos

CUSTOM_COMBO(  lh4lh2,         LH4 LH2,            &tog NUMBERS                         )
CUSTOM_COMBO(  rh4rh2,         RH4 RH2,            &tog NUMBERS                         )

CUSTOM_COMBO(  ll4ll2,         LL4 LL2,            &m_release_mods                      )
CUSTOM_COMBO(  rl4rl2,         RL4 RL2,            &m_release_mods                      )

CUSTOM_COMBO(  lh4lh3lh2,      LH4 LH3 LH2,        &kp K_MUTE                           )
CUSTOM_COMBO(  rh4rh3rh2,      RH4 RH3 RH2,        &kp K_MUTE                           )

CUSTOM_COMBO(  lu4lu2ru4ru2,   LU4 LU2 RU4 RU2,    &bt BT_CLR                           )

CUSTOM_COMBO(  rh2ru4,         RH2 RU4,            &kp MINUS                            )
CUSTOM_COMBO(  ru2rh4,         RU2 RH4,            &kp MINUS                            )
CUSTOM_COMBO(  lh2lu4,         LH2 LU4,            &kp EQUAL                            )
CUSTOM_COMBO(  lu2lh4,         LU2 LH4,            &kp EQUAL                            )

/// ---------------------------------------------------------------------------
/// horizontally adjacent combos
/**
CUSTOM_COMBO(  lu5lu4,         LU5 LU4,            &kp                                  )
CUSTOM_COMBO(  lu4lu3,         LU4 LU3,            &kp                                  )
CUSTOM_COMBO(  lu3lu2,         LU3 LU2,            &kp                                  )
*/
CUSTOM_COMBO(  lu2lu1,         LU2 LU1,            &kp PLUS                             )

CUSTOM_COMBO(  ru1ru2,         RU1 RU2,            &kp MINUS                            )
/**
CUSTOM_COMBO(  ru2ru3,         RU2 RU3,            &kp                                  )
CUSTOM_COMBO(  ru3ru4,         RU3 RU4,            &kp                                  )
CUSTOM_COMBO(  ru4ru5,         RU4 RU5,            &kp                                  )

CUSTOM_COMBO(  lh5lh4,         LH5 LH4,            &kp                                  )
*/
CUSTOM_COMBO(  lh4lh3,         LH4 LH3,            &kp BACKSPACE                        )
CUSTOM_COMBO(  lh3lh2,         LH3 LH2,            &kp ESCAPE                           )
CUSTOM_COMBO(  lh2lh1,         LH2 LH1,            &kp DELETE                           )

CUSTOM_COMBO(  rh1rh2,         RH1 RH2,            &kp BACKSPACE                        )
CUSTOM_COMBO(  rh2rh3,         RH2 RH3,            &kp ESCAPE                           )
CUSTOM_COMBO(  rh3rh4,         RH3 RH4,            &kp DELETE                           )
CUSTOM_COMBO(  rh4rh5,         RH4 RH5,            &kp APOSTROPHE                       )

CUSTOM_COMBO(  ll5ll4,         LL5 LL4,            &kp Y_UNDO                           )
CUSTOM_COMBO(  ll4ll3,         LL4 LL3,            &kp Y_CUT                            )
CUSTOM_COMBO(  ll3ll2,         LL3 LL2,            &kp Y_COPY                           )
CUSTOM_COMBO(  ll2ll1,         LL2 LL1,            &kp Y_PASTE                          )

CUSTOM_COMBO(  rl1rl2,         RL1 RL2,            &kp LA(BACKSPACE)                    )
CUSTOM_COMBO(  rl2rl3,         RL2 RL3,            &kp APOSTROPHE                       )
CUSTOM_COMBO(  rl3rl4,         RL3 RL4,            &kp DQT                              )
/**
CUSTOM_COMBO(  rl4rl5,         RL4 RL5,            &kp                                  )
*/

/// ---------------------------------------------------------------------------
/// vertically adjacent ZMK_combos

CUSTOM_COMBO(  lu5lh5,         LU5 LH5,            &kp EXCL                             )
CUSTOM_COMBO(  lu4lh4,         LU4 LH4,            &kp AT                               )
CUSTOM_COMBO(  lu3lh3,         LU3 LH3,            &kp HASH                             )
CUSTOM_COMBO(  lu2lh2,         LU2 LH2,            &kp DOLLAR                           )
CUSTOM_COMBO(  lu1lh1,         LU1 LH1,            &kp PERCENT                          )

CUSTOM_COMBO(  ru1rh1,         RU1 RH1,            &kp CARET                            )
CUSTOM_COMBO(  ru2rh2,         RU2 RH2,            &kp AMPS                             )
CUSTOM_COMBO(  ru3rh3,         RU3 RH3,            &kp STAR                             )
CUSTOM_COMBO(  ru4rh4,         RU4 RH4,            &kp GRAVE                            )
CUSTOM_COMBO(  ru5rh5,         RU5 RH5,            &kp EQUAL                            )

// LBRC {} LBKT [] LPAR ()
CUSTOM_COMBO(  lh5ll5,         LH5 LL5,            &kp BSLH                             )
CUSTOM_COMBO(  lh4ll4,         LH4 LL4,            &kp LT                               )
CUSTOM_COMBO(  lh3ll3,         LH3 LL3,            &kp LBKT                             )
CUSTOM_COMBO(  lh2ll2,         LH2 LL2,            &kp LPAR                             )
CUSTOM_COMBO(  lh1ll1,         LH1 LL1,            &kp LBRC                             )

CUSTOM_COMBO(  rh1rl1,         RH1 RL1,            &kp RBRC                             )
CUSTOM_COMBO(  rh2rl2,         RH2 RL2,            &kp RPAR                             )
CUSTOM_COMBO(  rh3rl3,         RH3 RL3,            &kp RBKT                             )
CUSTOM_COMBO(  rh4rl4,         RH4 RL4,            &kp GT                               )
CUSTOM_COMBO(  rh5rl5,         RH5 RL5,            &kp PIPE                             )

/// ---------------------------------------------------------------------------
/// diagonal combos

/// diagonal combos: left handed
CUSTOM_COMBO(  lu2lh1,         LU2 LH1,            &kp EQUAL                            )
CUSTOM_COMBO(  lh2ll1,         LH2 LL1,            &kp SPACE                            )
CUSTOM_COMBO(  lu3lh2,         LU3 LH2,            &kp TAB                              )
CUSTOM_COMBO(  lh3ll2,         LH3 LL2,            &kp RETURN                           )

/// diagonal combos: right handed
CUSTOM_COMBO(  ru2rh1,         RU2 RH1,            &kp UNDERSCORE                       )
CUSTOM_COMBO(  rh2rl1,         RH2 RL1,            &kp BACKSLASH                        )
CUSTOM_COMBO(  rh3rl2,         RH3 RL2,            &kp RETURN                           )

/// ---------------------------------------------------------------------------
/// one-handed one-shots, mirrored on both sides

CUSTOM_COMBO(  lt1lu5,         LT1 LU5,            &kp Y_LOCK_SCREEN                    )
CUSTOM_COMBO(  lt1lu4,         LT1 LU4,            &sl CONTROLS                         )
CUSTOM_COMBO(  lt1lu3,         LT1 LU3,            &sl CODING                           )
CUSTOM_COMBO(  lt1lu2,         LT1 LU2,            &sl NUMBERS                          )
CUSTOM_COMBO(  lt1lu1,         LT1 LU1,            &caps_word                           )

CUSTOM_COMBO(  lt1lh5,         LT1 LH5,            &sk LCTRL                            )
CUSTOM_COMBO(  lt1lh4,         LT1 LH4,            &sk LALT                             )
CUSTOM_COMBO(  lt1lh3,         LT1 LH3,            &sk LGUI                             )
CUSTOM_COMBO(  lt1lh2,         LT1 LH2,            &sk LSHIFT                           )
CUSTOM_COMBO(  lt1lh1,         LT1 LH1,            &sk LHYPER                           )

CUSTOM_COMBO(  lt1ll5,         LT1 LL5,            &kp CAPS                             )
CUSTOM_COMBO(  lt1ll4,         LT1 LL4,            &tog CONTROLS                        )
CUSTOM_COMBO(  lt1ll3,         LT1 LL3,            &tog CODING                          )
CUSTOM_COMBO(  lt1ll2,         LT1 LL2,            &tog NUMBERS                         )
CUSTOM_COMBO(  lt1ll1,         LT1 LL1,            &sk LMEH                             )

CUSTOM_COMBO(  rt1ru1,         RT1 RU1,            &caps_word                           )
CUSTOM_COMBO(  rt1ru2,         RT1 RU2,            &sl NUMBERS                          )
CUSTOM_COMBO(  rt1ru3,         RT1 RU3,            &sl CODING                           )
CUSTOM_COMBO(  rt1ru4,         RT1 RU4,            &sl CONTROLS                         )
CUSTOM_COMBO(  rt1ru5,         RT1 RU5,            &to QWERTY                           )

CUSTOM_COMBO(  rt1rh1,         RT1 RH1,            &sk LHYPER                           )
CUSTOM_COMBO(  rt1rh2,         RT1 RH2,            &sk RSHIFT                           )
CUSTOM_COMBO(  rt1rh3,         RT1 RH3,            &sk RGUI                             )
CUSTOM_COMBO(  rt1rh4,         RT1 RH4,            &sk RALT                             )
CUSTOM_COMBO(  rt1rh5,         RT1 RH5,            &sk RCTRL                            )

CUSTOM_COMBO(  rt1rl1,         RT1 RL1,            &sk LMEH                             )
CUSTOM_COMBO(  rt1rl2,         RT1 RL2,            &tog NUMBERS                         )
CUSTOM_COMBO(  rt1rl3,         RT1 RL3,            &tog CODING                          )
CUSTOM_COMBO(  rt1rl4,         RT1 RL4,            &tog CONTROLS                        )
CUSTOM_COMBO(  rt1rl5,         RT1 RL5,            &kp CAPS                             )

/// ---------------------------------------------------------------------------
/// two-handed symmetric combos

CUSTOM_COMBO(  lu5u5,          LU5 RU5,            &kp EXCL                             )
/**
CUSTOM_COMBO(  lu4ru5,         LU4 RU5,            &kp                                  )
CUSTOM_COMBO(  lu3ru3,         LU3 RU3,            &kp                                  )
CUSTOM_COMBO(  lu2ru2,         LU2 RU2,            &kp                                  )
CUSTOM_COMBO(  lu1ru1,         LU1 RU1,            &kp                                  )
*/

CUSTOM_COMBO(  lh5rh5,         LH5 RH5,            &sk LCTRL                            )
CUSTOM_COMBO(  lh4rh4,         LH4 RH4,            &sk LALT                             )
CUSTOM_COMBO(  lh3rh3,         LH3 RH3,            &sk LGUI                             )
CUSTOM_COMBO(  lh2rh2,         LH2 RH2,            &sk LSHIFT                           )
CUSTOM_COMBO(  lh1rh1,         LH1 RH1,            &sk LHYPER                           )

CUSTOM_COMBO(  ll5rl5,         LL5 RL5,            &kp Y_UNDO                           )
CUSTOM_COMBO(  ll4rl4,         LL4 RL4,            &kp Y_CUT                            )
CUSTOM_COMBO(  ll3rl3,         LL3 RL3,            &kp Y_COPY                           )
CUSTOM_COMBO(  ll2rl2,         LL2 RL2,            &kp Y_PASTE                          )
CUSTOM_COMBO(  ll1rl1,         LL1 RL1,            &sk LMEH                             )

/**
CUSTOM_COMBO(  lt3rt3,         LT3 RT3,            &kp GLOBE                            )
*/
CUSTOM_COMBO(  lt2rt2,         LT2 RT2,            &caps_word                           )
CUSTOM_COMBO(  lt1rt1,         LT1 RT1,            &kp CAPS                             )

/// two-handed: chrome extension combos
/**
CUSTOM_COMBO(  lt1ru1,         LT1 RU1,            &kp                                  )
*/
CUSTOM_COMBO(  lt1ru2,         LT1 RU2,            &kp Y_CHROME_TGE_CLOSE_UNGROUPED     )
/**
CUSTOM_COMBO(  lt1ru3,         LT1 RU3,            &kp                                  )
*/
CUSTOM_COMBO(  lt1ru4,         LT1 RU4,            &kp Y_CHROME_TGE_CLOSE_OTHERS        )
CUSTOM_COMBO(  lt1ru5,         LT1 RU5,            &kp Y_CHROME_DP_PARANOID             )

CUSTOM_COMBO(  lt1rh1,         LT1 RH1,            &kp Y_CHROME_TGE_MOVE_GRP_TO_LEFT    )
CUSTOM_COMBO(  lt1rh2,         LT1 RH2,            &kp Y_CHROME_TGE_CLOSE_TO_LEFT       )
CUSTOM_COMBO(  lt1rh3,         LT1 RH3,            &kp Y_CHROME_TGE_CLOSE_TO_RIGHT      )
CUSTOM_COMBO(  lt1rh4,         LT1 RH4,            &kp Y_CHROME_TGE_MOVE_GRP_TO_RIGHT   )
/**
CUSTOM_COMBO(  lt1rh5,         LT1 RH5,            &kp                                  )
*/

CUSTOM_COMBO(  lt1rl1,         LT1 RL1,            &kp Y_CHROME_TN_TOGGLE               )
CUSTOM_COMBO(  lt1rl2,         LT1 RL2,            &m_vc_reload_l                       )
CUSTOM_COMBO(  lt1rl3,         LT1 RL3,            &m_vc_reload_r                       )
/**
CUSTOM_COMBO(  lt1rl4,         LT1 RL4,            &kp                                  )
CUSTOM_COMBO(  lt1rl5,         LT1 RL5,            &kp                                  )
*/

CUSTOM_COMBO(  rt1lu5,         RT1 LU5,            &kp Y_CHROME_QR_GENERATE             )
CUSTOM_COMBO(  rt1lu4,         RT1 LU4,            &kp Y_CHROME_TGE_MOVE_GRP_TO_WIN     )
CUSTOM_COMBO(  rt1lu3,         RT1 LU3,            &kp Y_CHROME_TGE_GROUP_UNGROUPED     )
CUSTOM_COMBO(  rt1lu2,         RT1 LU2,            &kp Y_CHROME_DR_ACTIVATE             )
CUSTOM_COMBO(  rt1lu1,         RT1 LU1,            &kp Y_CHROME_TGE_ACTIVATE            )

CUSTOM_COMBO(  rt1lh5,         RT1 LH5,            &kp Y_CHROME_TGE_TOGGLE_ALL_GROUPS   )
CUSTOM_COMBO(  rt1lh4,         RT1 LH4,            &kp Y_CHROME_TGE_SAVE_GROUP          )
CUSTOM_COMBO(  rt1lh3,         RT1 LH3,            &kp Y_CHROME_DR_TOGGLE               )
CUSTOM_COMBO(  rt1lh2,         RT1 LH2,            &kp Y_CHROME_TGE_GO_GROUP_FIRST      )
CUSTOM_COMBO(  rt1lh1,         RT1 LH1,            &kp Y_CHROME_TGE_GO_GROUP_LAST       )

/**
CUSTOM_COMBO(  rt1ll5,         RT1 LL5,            &kp                                  )
*/
CUSTOM_COMBO(  rt1ll4,         RT1 LL4,            &kp Y_CHROME_TGE_CLOSE_GROUP         )
CUSTOM_COMBO(  rt1ll3,         RT1 LL3,            &kp Y_CHROME_TGE_TOGGLE_CURR_GROUP   )
CUSTOM_COMBO(  rt1ll2,         RT1 LL2,            &kp Y_CHROME_VIMIUMC_ACTIVATE        )
/**
CUSTOM_COMBO(  rt1ll1,         RT1 LL1,            &kp                                  )
*/

/// ---------------------------------------------------------------------------
/// one-handed combos mods (sticky), mirrored

CUSTOM_COMBO(  lt1lh5lh4,      LT1 LH5 LH4,        &sk LC(LALT)                         )
CUSTOM_COMBO(  lt1lh5lh3,      LT1 LH5 LH3,        &sk LC(LGUI)                         )
CUSTOM_COMBO(  lt1lh5lh2,      LT1 LH5 LH2,        &sk LC(LSHIFT)                       )
CUSTOM_COMBO(  lt1lh4lh3,      LT1 LH4 LH3,        &sk LA(LGUI)                         )
CUSTOM_COMBO(  lt1lh4lh2,      LT1 LH4 LH2,        &sk LA(LSHIFT)                       )
CUSTOM_COMBO(  lt1lh3lh2,      LT1 LH3 LH2,        &sk LG(LSHIFT)                       )
CUSTOM_COMBO(  lt1lh5lh4lh3,   LT1 LH5 LH4 LH3,    &sk LC(LA(LGUI))                     )
CUSTOM_COMBO(  lt1lh5lh4lh2,   LT1 LH5 LH4 LH2,    &sk LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  lt1lh5lh3lh2,   LT1 LH5 LH3 LH2,    &sk LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  lt1lh4lh3lh2,   LT1 LH4 LH3 LH2,    &sk LA(LG(LSHIFT))                   )

CUSTOM_COMBO(  rt1rh5rh4,      RT1 RH5 RH4,        &sk LC(LALT)                         )
CUSTOM_COMBO(  rt1rh5rh3,      RT1 RH5 RH3,        &sk LC(LGUI)                         )
CUSTOM_COMBO(  rt1rh5rh2,      RT1 RH5 RH2,        &sk LC(LSHIFT)                       )
CUSTOM_COMBO(  rt1rh4rh3,      RT1 RH4 RH3,        &sk LA(LGUI)                         )
CUSTOM_COMBO(  rt1rh4rh2,      RT1 RH4 RH2,        &sk LA(LSHIFT)                       )
CUSTOM_COMBO(  rt1rh3rh2,      RT1 RH3 RH2,        &sk LG(LSHIFT)                       )
CUSTOM_COMBO(  rt1rh5rh4rh3,   RT1 RH5 RH4 RH3,    &sk LC(LA(LGUI))                     )
CUSTOM_COMBO(  rt1rh5rh4rh2,   RT1 RH5 RH4 RH2,    &sk LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  rt1rh5rh3rh2,   RT1 RH5 RH3 RH2,    &sk LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  rt1rh4rh3rh2,   RT1 RH4 RH3 RH2,    &sk LA(LG(LSHIFT))                   )

/// ---------------------------------------------------------------------------
/// one-handed combos mods (toggle), mirrored

CUSTOM_COMBO(  lt2lh5,         LT2 LH5,            &kt LCTRL                            )
CUSTOM_COMBO(  lt2lh4,         LT2 LH4,            &kt LALT                             )
CUSTOM_COMBO(  lt2lh3,         LT2 LH3,            &kt LGUI                             )
CUSTOM_COMBO(  lt2lh2,         LT2 LH2,            &kt LSHIFT                           )
CUSTOM_COMBO(  lt2lh1,         LT2 LH1,            &kt LHYPER                           )

CUSTOM_COMBO(  rt2rh1,         RT2 RH1,            &kt LHYPER                           )
CUSTOM_COMBO(  rt2rh2,         RT2 RH2,            &kt LSHIFT                           )
CUSTOM_COMBO(  rt2rh3,         RT2 RH3,            &kt LGUI                             )
CUSTOM_COMBO(  rt2rh4,         RT2 RH4,            &kt LALT                             )
CUSTOM_COMBO(  rt2rh5,         RT2 RH5,            &kt LCTRL                            )

CUSTOM_COMBO(  lt2lh5lh4,      LT2 LH5 LH4,        &kt LC(LALT)                         )
CUSTOM_COMBO(  lt2lh5lh3,      LT2 LH5 LH3,        &kt LC(LGUI)                         )
CUSTOM_COMBO(  lt2lh5lh2,      LT2 LH5 LH2,        &kt LC(LSHIFT)                       )
CUSTOM_COMBO(  lt2lh4lh3,      LT2 LH4 LH3,        &kt LA(LGUI)                         )
CUSTOM_COMBO(  lt2lh4lh2,      LT2 LH4 LH2,        &kt LA(LSHIFT)                       )
CUSTOM_COMBO(  lt2lh3lh2,      LT2 LH3 LH2,        &kt LG(LSHIFT)                       )
CUSTOM_COMBO(  lt2lh5lh4lh3,   LT2 LH5 LH4 LH3,    &kt LC(LA(LGUI))                     )
CUSTOM_COMBO(  lt2lh5lh4lh2,   LT2 LH5 LH4 LH2,    &kt LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  lt2lh5lh3lh2,   LT2 LH5 LH3 LH2,    &kt LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  lt2lh4lh3lh2,   LT2 LH4 LH3 LH2,    &kt LA(LG(LSHIFT))                   )

CUSTOM_COMBO(  rt2rh5rh4,      RT2 RH5 RH4,        &kt LC(LALT)                         )
CUSTOM_COMBO(  rt2rh5rh3,      RT2 RH5 RH3,        &kt LC(LGUI)                         )
CUSTOM_COMBO(  rt2rh5rh2,      RT2 RH5 RH2,        &kt LC(LSHIFT)                       )
CUSTOM_COMBO(  rt2rh4rh3,      RT2 RH4 RH3,        &kt LA(LGUI)                         )
CUSTOM_COMBO(  rt2rh4rh2,      RT2 RH4 RH2,        &kt LA(LSHIFT)                       )
CUSTOM_COMBO(  rt2rh3rh2,      RT2 RH3 RH2,        &kt LG(LSHIFT)                       )
CUSTOM_COMBO(  rt2rh5rh4rh3,   RT2 RH5 RH4 RH3,    &kt LC(LA(LGUI))                     )
CUSTOM_COMBO(  rt2rh5rh4rh2,   RT2 RH5 RH4 RH2,    &kt LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  rt2rh5rh3rh2,   RT2 RH5 RH3 RH2,    &kt LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  rt2rh4rh3rh2,   RT2 RH4 RH3 RH2,    &kt LA(LG(LSHIFT))                   )

/// ---------------------------------------------------------------------------
// Contractions and punctuations
/**
CUSTOM_COMBO(  rl2lu5,         RL2 LU5,            &kp                                  )
*/
CUSTOM_COMBO(  rl2lu4,         RL2 LU4,            &kp Y_ELLIPSIS                       )
CUSTOM_COMBO(  rl2lu3,         RL2 LU3,            &m_apos_ve                           )
CUSTOM_COMBO(  rl2lu2,         RL2 LU2,            &m_apos_re                           )
CUSTOM_COMBO(  rl2lu1,         RL2 LU1,            &m_apos_t                            )

/**
CUSTOM_COMBO(  rl2lh5,         RL2 LH5,            &kp                                  )
*/
CUSTOM_COMBO(  rl2lh4,         RL2 LH4,            &m_apos_s                            )
CUSTOM_COMBO(  rl2lh3,         RL2 LH3,            &m_apos_d                            )
CUSTOM_COMBO(  rl2lh2,         RL2 LH2,            &kp QUESTION                         )
CUSTOM_COMBO(  rl2lh1,         RL2 LH1,            &kp EXCL                             )

/**
CUSTOM_COMBO(  rl2ll5,         RL2 LL5,            &kp                                  )
*/
CUSTOM_COMBO(  rl2ll4,         RL2 LL4,            &kp LPAR                             )
CUSTOM_COMBO(  rl2ll3,         RL2 LL3,            &kp RPAR                             )
/**
CUSTOM_COMBO(  rl2ll2,         RL2 LL2,            XXXXXXXXXX                           )
*/
CUSTOM_COMBO(  rl2ll1,         RL2 LL1,            &kp COLON                            )

/**
CUSTOM_COMBO(  rl2rh1,         RL2 RH1,            &kp                                  )
CUSTOM_COMBO(  rl2rh2,         RL2 RH2,            XXXXXXXXXX                           )
CUSTOM_COMBO(  rl2rh3,         RL2 RH3,            XXXXXXXXXX                           )
*/
CUSTOM_COMBO(  rl2rh4,         RL2 RH4,            &m_apos_ll                           )
/**
CUSTOM_COMBO(  rl2rh5,         RL2 RH5,            XXXXXXXXXX                           )
*/

CUSTOM_COMBO(  rl2rl1,         RL2 RL5,            &m_apos_nt                           )
CUSTOM_COMBO(  rl2ru4,         RL2 RU4,            &kp Y_EMDASH                         )
CUSTOM_COMBO(  rl2ru5,         RL2 RU5,            &kp Y_DEGREE                         )

// I~
CUSTOM_COMBO(  ru3rh2,         RU3 RH2,            &m_upper_i                           )

// ~'m
CUSTOM_COMBO(  ru3rl2,         RU3 RL2,            &m_i_m                               )

// ~'d
// Skipped: we'd, he'd, she'd, you'd, they'd
CUSTOM_COMBO(  ru3lh3,         RU3 LH3,            &m_i_d                               )

// ~'ll
CUSTOM_COMBO(  ru3rh4,         RU3 RH4,            &m_i_ll                              )
CUSTOM_COMBO(  rh1rh4,         RH1 RH4,            &m_he_ll                             )
CUSTOM_COMBO(  lh4rh1rh4,      LU4 RH1 RH4,        &m_she_ll                            )
CUSTOM_COMBO(  lu1ru3rh4,      LU1 RU3 RH4,        &m_it_ll                             )
CUSTOM_COMBO(  ru1rh4,         RU1 RH4,            &m_you_ll                            )
CUSTOM_COMBO(  lu4rh4,         LU4 RH4,            &m_we_ll                             )
CUSTOM_COMBO(  lu1rh4,         LU1 RH4,            &m_they_ll                           )

// ~'re
CUSTOM_COMBO(  ru1lu3lu2,      RU1 LU3 LU2,        &m_you_re                            )
CUSTOM_COMBO(  lu4lu3lu2,      LU4 LU3 LU2,        &m_we_re                             )
CUSTOM_COMBO(  rh1lu3lu2,      RH1 LU3 LU2,        &m_they_re                           )

// ~'ve
CUSTOM_COMBO(  ru3ll2,         RU3 LL2,            &m_i_ve                              )
CUSTOM_COMBO(  ru1ll2,         RU1 LL2,            &m_you_ve                            )
CUSTOM_COMBO(  lu4ll2,         LU4 LL2,            &m_we_ve                             )
CUSTOM_COMBO(  rh1ll2,         RH1 LL2,            &m_they_ve                           )

/// ---------------------------------------------------------------------------
/// visual studio code
/**
    TODO: VS Code Speech ...
*/

/**
CUSTOM_COMBO(  rl4lu4,         RL4 LU5,            &kp XXXXXXXXXX                       )
*/
CUSTOM_COMBO(  rl4lu4,         RL4 LU4,            &kp Y_VSCODE_CLOSE_ALL               )
CUSTOM_COMBO(  rl4lu3,         RL4 LU3,            &kp Y_VSCODE_ACTIVE_EDITOR           )
CUSTOM_COMBO(  rl4lu4,         RL4 LU4,            &kp Y_VSCODE_MARKDOWN_PREVIEW_SIDE   )
CUSTOM_COMBO(  rl4lu1,         RL4 LU1,            &kp Y_VSCODE_GOTO_TERMINAL           )

CUSTOM_COMBO(  rl4lh5,         RL4 LH5,            &kp Y_VSCODE_SOURCE_CONTROL          )
CUSTOM_COMBO(  rl4lh4,         RL4 LH4,            &kp Y_VSCODE_SAVE_ALL                )
CUSTOM_COMBO(  rl4lh3,         RL4 LH3,            &kp Y_VSCODE_TODO_TREE               )
CUSTOM_COMBO(  rl4lh2,         RL4 LH2,            &kp Y_VSCODE_SEARCH                  )
CUSTOM_COMBO(  rl4lh1,         RL4 LH1,            &kp Y_VSCODE_GIT_GRAPH               )

CUSTOM_COMBO(  rl4ll5,         RL4 LL5,            &kp Y_VSCODE_ACTIVITY_BAR_TOGGLE     )
/**
CUSTOM_COMBO(  rl4ll4,         RL4 LL4,            &kp trans                            ) // testing if this reverts to individual keys
*/
CUSTOM_COMBO(  rl4ll3,         RL4 LL3,            &kp Y_VSCODE_DICTATION_START         )
CUSTOM_COMBO(  rl4ll2,         RL4 LL2,            &kp Y_VSCODE_DICTATION_STOP          )
CUSTOM_COMBO(  rl4ll1,         RL4 LL1,            &kp Y_VSCODE_GITLENS_TOGGLE_BLAME    )

CUSTOM_COMBO(  rl4rh1,         RL4 RH1,            &kp Y_VSCODE_COMMENT_LINE            )
CUSTOM_COMBO(  rl4rh2,         RL4 RH2,            &kp Y_VSCODE_SURROUND_WITH           )
CUSTOM_COMBO(  rl4rh3,         RL4 RH3,            &kp Y_VSCODE_SURROUND_WITH_COMMENT   )

/// ---------------------------------------------------------------------------
/// visual studio code - navigation / adjustments
///
/// Right hand side HJKL (vim-like nav) + any key or combo on left hand side

CUSTOM_COMBO(  rh1lu4lu3,      RH1 LU4 LU3,        &kp Y_VSCODE_PREV_TERMINAL           )
/**
CUSTOM_COMBO(  rh2lu4lu3,      RH2 LU4 LU3,        &kp Y_VSCODE_XXXXX                   )
CUSTOM_COMBO(  rh3lu4lu3,      RH3 LU4 LU3,        &kp Y_VSCODE_XXXXX                   )
*/
CUSTOM_COMBO(  rh4lu4lu3,      RH4 LU4 LU3,        &kp Y_VSCODE_NEXT_TERMINAL           )

CUSTOM_COMBO(  rh1lu3lu2,      RH1 LU3 LU2,        &kp Y_VSCODE_DEC_TERMINAL_WIDTH      )
CUSTOM_COMBO(  rh2lu3lu2,      RH2 LU3 LU2,        &kp Y_VSCODE_DEC_TERMINAL_HEIGHT     )
CUSTOM_COMBO(  rh3lu3lu2,      RH3 LU3 LU2,        &kp Y_VSCODE_INC_TERMINAL_HEIGHT     )
CUSTOM_COMBO(  rh4lu3lu2,      RH4 LU3 LU2,        &kp Y_VSCODE_INC_TERMINAL_WIDTH      )

/**
CUSTOM_COMBO(  rh1lu2lu1,      RH1 LU2 LU1,        &kp Y_VSCODE_XXXXX                   )
*/
CUSTOM_COMBO(  rh2lu2lu1,      RH2 LU2 LU1,        &kp Y_VSCODE_EDITOR_SIZES_RESET      )
CUSTOM_COMBO(  rh3lu2lu1,      RH3 LU2 LU1,        &kp Y_VSCODE_EDITOR_SIZES_TOGGLE     )
/**
CUSTOM_COMBO(  rh4lu2lu1,      RH4 LU2 LU1,        &kp Y_VSCODE_XXXXX                   )
*/

CUSTOM_COMBO(  rh1lh4lh3,      RH1 LH4 LH3,        &kp Y_VSCODE_PREV_EDITOR_GROUP       )
CUSTOM_COMBO(  rh2lh4lh3,      RH2 LH4 LH3,        &kp Y_VSCODE_TOGGLE_PANEL            )
CUSTOM_COMBO(  rh3lh4lh3,      RH3 LH4 LH3,        &kp Y_VSCODE_ACTIVE_EDITOR           )
CUSTOM_COMBO(  rh4lh4lh3,      RH4 LH4 LH3,        &kp Y_VSCODE_NEXT_EDITOR_GROUP       )

CUSTOM_COMBO(  rh1lh3lh2,      RH1 LH3 LH2,        &kp Y_VSCODE_MOVE_EDITOR_LEFT        )
CUSTOM_COMBO(  rh2lh3lh2,      RH2 LH3 LH2,        &kp Y_VSCODE_MOVE_INTO_PREV_GROUP    )
CUSTOM_COMBO(  rh3lh3lh2,      RH3 LH3 LH2,        &kp Y_VSCODE_MOVE_INTO_NEXT_GROUP    )
CUSTOM_COMBO(  rh4lh3lh2,      RH4 LH3 LH2,        &kp Y_VSCODE_MOVE_EDITOR_RIGHT       )

CUSTOM_COMBO(  rh1lh2lh1,      RH1 LH2 LH1,        &kp Y_VSCODE_DEC_EDITOR_WIDTH        )
CUSTOM_COMBO(  rh2lh2lh1,      RH2 LH2 LH1,        &kp Y_VSCODE_DEC_EDITOR_HEIGHT       )
CUSTOM_COMBO(  rh3lh2lh1,      RH3 LH2 LH1,        &kp Y_VSCODE_INC_EDITOR_HEIGHT       )
CUSTOM_COMBO(  rh4lh2lh1,      RH4 LH2 LH1,        &kp Y_VSCODE_INC_EDITOR_WIDTH        )

CUSTOM_COMBO(  rh1ll5,         RH1 LL5,            &kp Y_VSCODE_ZOOM_OUT                )
CUSTOM_COMBO(  rh2ll5,         RH2 LL5,            &kp Y_VSCODE_ZOOM_RESET              )
CUSTOM_COMBO(  rh3ll5,         RH3 LL5,            &kp Y_VSCODE_ZOOM_RESET              )
CUSTOM_COMBO(  rh4ll5,         RH4 LL5,            &kp Y_VSCODE_ZOOM_IN                 )

CUSTOM_COMBO(  rh1ll4,         RH1 LL4,            &kp Y_VSCODE_SPLIT_EDITOR_LEFT       )
CUSTOM_COMBO(  rh2ll4,         RH2 LL4,            &kp Y_VSCODE_SPLIT_EDITOR_DOWN       )
CUSTOM_COMBO(  rh3ll4,         RH3 LL4,            &kp Y_VSCODE_SPLIT_EDITOR_UP         )
CUSTOM_COMBO(  rh4ll4,         RH4 LL4,            &kp Y_VSCODE_SPLIT_EDITOR_RIGHT      )

/**
CUSTOM_COMBO(  rh1ll4ll3,      RH1 LL4 LL3,        &kp Y_VSCODE_XXXXX                   )
CUSTOM_COMBO(  rh2ll4ll3,      RH2 LL4 LL3,        &kp Y_VSCODE_XXXXX                   )
CUSTOM_COMBO(  rh3ll4ll3,      RH3 LL4 LL3,        &kp Y_VSCODE_XXXXX                   )
CUSTOM_COMBO(  rh4ll4ll3,      RH4 LL4 LL3,        &kp Y_VSCODE_XXXXX                   )
*/

CUSTOM_COMBO(  rh1ll3ll2,      RH1 LL3 LL2,        &kp Y_VSCODE_PREV_CHANGE             )
CUSTOM_COMBO(  rh2ll3ll2,      RH2 LL3 LL2,        &kp Y_VSCODE_PREV_CHANGE_SHOW        )
CUSTOM_COMBO(  rh3ll3ll2,      RH3 LL3 LL2,        &kp Y_VSCODE_NEXT_CHANGE_SHOW        )
CUSTOM_COMBO(  rh4ll3ll2,      RH4 LL3 LL2,        &kp Y_VSCODE_NEXT_CHANGE             )

CUSTOM_COMBO(  rh1ll2ll1,      RH1 LL2 LL1,        &kp Y_VSCODE_DECREMENT_BY_10         )
CUSTOM_COMBO(  rh2ll2ll1,      RH2 LL2 LL1,        &kp Y_VSCODE_DECREMENT_BY_1          )
CUSTOM_COMBO(  rh3ll2ll1,      RH3 LL2 LL1,        &kp Y_VSCODE_INCREMENT_BY_1          )
CUSTOM_COMBO(  rh4ll2ll1,      RH4 LL2 LL1,        &kp Y_VSCODE_INCREMENT_BY_10         )

CUSTOM_COMBO(  rh1ll1,         RH1 LL1,            &kp Y_VSCODE_PREV_PROBLEM            )
CUSTOM_COMBO(  rh2ll1,         RH2 LL1,            &kp Y_VSCODE_VIEW_PROBLEMS           )
CUSTOM_COMBO(  rh3ll1,         RH3 LL1,            &kp Y_VSCODE_VIEW_PROBLEMS           )
CUSTOM_COMBO(  rh4ll1,         RH4 LL1,            &kp Y_VSCODE_NEXT_PROBLEM            )

/// ---------------------------------------------------------------------------
/// other app shortcuts

CUSTOM_COMBO(  rh5lu5,         RH5 LU5,            &kp Y_TEXTSNIPER_READ_QRCODE         )
CUSTOM_COMBO(  rh5lu4,         RH5 LU4,            &kp Y_MENUBAR                        )
CUSTOM_COMBO(  rh5lu3,         RH5 LU3,            &kp Y_DOCK                           )
CUSTOM_COMBO(  rh5lu2,         RH5 LU2,            &kp Y_TOGGLE_STAGE_MANAGER           )
CUSTOM_COMBO(  rh5lu1,         RH5 LU1,            &kp Y_TOGGLE_DND                     )

/**
/// ---------------------------------------------------------------------------
CUSTOM_COMBO(  rh5lh5,         RH5 LH5,            &kp XXXXXXXXXX                       )
*/
CUSTOM_COMBO(  rh5lh4,         RH5 LH4,            &kp Y_BARTENDER_SEARCH               )
CUSTOM_COMBO(  rh5lh3,         RH5 LH3,            &kp Y_SCREEN_CAPTURE_FULL            )
CUSTOM_COMBO(  rh5lh2,         RH5 LH2,            &kp Y_SCREEN_CAPTURE_AREA            )
CUSTOM_COMBO(  rh5lh1,         RH5 LH1,            &kp Y_CLEANSHOT_HISTORY              )
CUSTOM_COMBO(  rh5ll5,         RH5 LL5,            &kp Y_APPLICATION_WINDOWS            )
CUSTOM_COMBO(  rh5ll4,         RH5 LL4,            &kp Y_CLEANSHOT_OVERLAYS_CLOSE       )
CUSTOM_COMBO(  rh5ll3,         RH5 LL3,            &kp Y_CLEANSHOT_ALL_IN_ONE           )
CUSTOM_COMBO(  rh5ll2,         RH5 LL2,            &kp Y_CLEANSHOT_WINDOW               )
CUSTOM_COMBO(  rh5ll1,         RH5 LL1,            &kp Y_CLEANSHOT_OVERLAYS_TOGGLE      )

CUSTOM_COMBO(  rh5ru1,         RH5 RU1,            &kp Y_HAZEOVER_TOGGLE                )
CUSTOM_COMBO(  rh5ru2,         RH5 RU2,            &kp Y_TEXTSNIPER_CAPTURE_TEXT        )
CUSTOM_COMBO(  rh5ru3,         RH5 RU3,            &kp Y_MISSION_CONTROL                )
CUSTOM_COMBO(  rh5ru4,         RH5 RU4,            &kp Y_SHORTCAT                       )
CUSTOM_COMBO(  rh5rh1,         RH5 RH1,            &kp Y_ONE_PASSWORD_AUTOFILL          )
CUSTOM_COMBO(  rh5rh2,         RH5 RH2,            &kp Y_ONE_PASSWORD_QUICK             )
CUSTOM_COMBO(  rh5rh3,         RH5 RH3,            &kp Y_OKTA                           )
CUSTOM_COMBO(  rh5rl1,         RH5 RL1,            &kp Y_PRESENTIFY_ANNOTATE            )
CUSTOM_COMBO(  rh5rl2,         RH5 RL2,            &kp Y_KEYCAST_TOGGLE                 )
CUSTOM_COMBO(  rh5rl3,         RH5 RL3,            &kp Y_LOCK_SCREEN                    )


/// special macros

CUSTOM_COMBO(  rl4rl3rl2,      RL4 RL3 RL2,        &m_is_unread                         )
CUSTOM_COMBO(  rl4rl3rl1,      RL4 RL3 RL1,        &m_in_inbox                          )
