/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>


#include "common/layout_agnostic/mouse.dtsi"
#include "common/6_column_42_keys.h"
#include "common/6_column_42_keys_combos.dtsi"

#define UG(code)                 &rgb_ug code
#define UG_WHITE                 &rgb_ug RGB_COLOR_HSB(0,0,100)

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

CUSTOM_LAYER(qwerty, "QWERTY",
      /* ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ */
           &kp ESC        &kp Q          &kp W          &kp E          &kp R          &kp T                &kp Y          &kp U          &kp I          &kp O          &kp P          &kp BSPC
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &sk LGUI       &kp A          &kp S          &kp D          &kp F          &kp G                &kp H          &kp J          &kp K          &kp L          &kp SEMI       &kp APOS
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &sk LCTRL      &kp Z          &kp X          &kp C          &kp V          &kp B                &kp N          &kp M          &kp COMMA      &kp DOT        &kp FSLH       &sk LALT
      /* ╰──────────────┴──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────┴──────────────╯ */
                                                        MT(NUMBERS)    &sk LSHIFT     &krtab               &kp RETURN     &kp SPACE      &kp TAB
      /*                                              ╰──────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴──────────────╯                                              */
)

CUSTOM_LAYER(numbers, "Numbers",
      /* ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ */
           &kp UNDER      &kp F1         &kp F2         &kp F3         &kp F4         &kp F5               &kp F6         &kp F7         &kp F8         &kp F9         &kp F10        &kp F11
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &kp PLUS       &kp N1         &kp N2         &kp N3         &kp N4         &kp N5               &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &kp F12
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &kp LPAR       &kp Y_YEN      &kp Y_EURO     &kp MINUS      &kp EQUAL      &kp STAR             &kp Y_POUND    &kp DOLLAR     &kp COMMA      &kp DOT        &kp FSLH       &kp RPAR
      /* ├──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┴──────────────┤ */
                                                        &trans         &trans         &trans               &trans         &trans         &trans
      /*                                              ╰──────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴──────────────╯                                              */
)

CUSTOM_LAYER(coding, "Coding",
      /* ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ */
           &kp Y_DIVIDE   &kp CARET      &kp AT         &kp LPAR       &kp RPAR       &kp DOLLAR           &kp HOME       &kp PG_DN      &kp PG_UP      &kp END        &kp PIPE       &kp Y_DEGREE
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &kp LBRC       &kp APOS       &kp GRAVE      &kp LBKT       &kp RBKT       &kp STAR             &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp BSLH       &kp RBRC
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &kp LT         &kp EXCL       &kp HASH       &kp MINUS      &kp EQUAL      &kp TILDE            &kp PERCENT    &kp AMPS       &kp COMMA      &kp DOT        &kp FSLH       &kp GT
      /* ╰──────────────┴──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────┴──────────────╯ */
                                                        &trans         &trans         &trans               &trans         &trans         &trans
      /*                                              ╰──────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴──────────────╯                                              */
)

CUSTOM_LAYER(controls, "Controls",
      /* ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ */
           UG(RGB_HUI)    &kp CAPS       &kp C_PREV     &kp C_PP       &kp C_NEXT     &kp C_VOL_UP         &out OUT_BLE   &mkp MB4       &mmv MV_U      &mkp MB5       &out OUT_USB   UG(RGB_SAI)
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           UG(RGB_HUD)    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &kp C_VOL_DN         &msc MW_D      &mmv MV_L      &mmv MV_D      &mmv MV_R      &kp F15        UG(RGB_SAD)
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           UG(RGB_BRD)    UG(RGB_BRI)    UG(RGB_TOG)    UG(RGB_EFR)    UG(RGB_EFF)    &kp K_MUTE           &msc MW_U      &kp F11        &kp F12        &kp F13        &kp F14        UG_WHITE
      /* ╰──────────────┴──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────┴──────────────╯ */
                                                        UG(RGB_SPD)    UG(RGB_SPI)    &trans               &mkp LCLK      &mkp RCLK      &mkp MCLK
      /*                                              ╰──────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴──────────────╯                                              */
)

CUSTOM_LAYER(afk, "AFK",
      /* ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ */
           &none          &none          &none          &none          &none          &none                &none          &none          &none          &none          &none          &none
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &none          &none          &none          &none          &none          &none                &none          &none          &none          &none          &none          &none
      /* ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ */
           &none          &none          &none          &none          &none          &none                &none          &none          &none          &none          &none          &none
      /* ╰──────────────┴──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────┴──────────────╯ */
                                                        &none          &none          &none                &none          &none          &none
      /*                                              ╰──────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴──────────────╯                                              */
)
