/*
#include <behaviors/mouse_keys.dtsi>
*/
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#include "common/base_keymap.h"
#include "common/keys.h"
#include "common/mouse.dtsi"
#include "common/behaviors.dtsi"
#include "common/sensors.dtsi"
#include "common/macros.dtsi"
#include "common/tap_dances.dtsi"

#include "common/layouts/6_column_42_keys_custom.h"
#include "common/layouts/6_column_42_keys_combos.dtsi"

#define UG(code)                     &rgb_ug code
#define UG_WHITE                     &rgb_ug RGB_COLOR_HSB(0,0,100)

#define SPECIAL_CONTROLS_TL          UG(RGB_SPD)         UG(RGB_SPI)         &trans
#define SPECIAL_CONTROLS_TR          &mkp LCLK           &mkp RCLK           &mkp MCLK

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

CUSTOM_LAYER2(qwerty, "Qwerty",
  &kp ESC           QWERTY_UL         &mmv MOVE_UP        QWERTY_UR           &kp BSPC
  &sk LGUI          QWERTY_HL         &mmv MOVE_DOWN      QWERTY_HR           &kp APOS
  &sk LCTRL         QWERTY_LL         &mmv MOVE_LEFT      QWERTY_LR           &sk LALT
  &kp C_MUTE        QWERTY_TL         &mmv MOVE_RIGHT     QWERTY_TR
                                      &mkp LCLK
  , &encoder_vol
)

CUSTOM_LAYER2(numbers, "Numbers",
  &kp UNDER         NUMBERS_UL        &mmv MOVE_UP        NUMBERS_UR          &kp F11
  &kp PLUS          NUMBERS_HL        &mmv MOVE_DOWN      NUMBERS_HR          &kp F12
  &kp LPAR          NUMBERS_LL        &mmv MOVE_LEFT      NUMBERS_LR          &kp RPAR
  &none             NUMBERS_TL        &mmv MOVE_RIGHT     NUMBERS_TR
                                      &mkp LCLK
  , &encoder_number
)

CUSTOM_LAYER2(symbols, "Symbols",
  &kp UNDER         SYMBOLS_UL        &mmv MOVE_UP        SYMBOLS_UR          &kp BSPC
  &kp PLUS          SYMBOLS_HL        &mmv MOVE_DOWN      SYMBOLS_HR          &kp APOS
  &kp LPAR          SYMBOLS_LL        &mmv MOVE_LEFT      SYMBOLS_LR          &kp RPAR
  &none             SYMBOLS_TL        &mmv MOVE_RIGHT     SYMBOLS_TR
                                      &mkp LCLK
  , &encoder_zoom
)

CUSTOM_LAYER2(coding, "Coding",
  &kp Y_DIVIDE      CODING_UL         &mmv MOVE_UP        CODING_UR           &kp Y_DEGREE
  &kp LBRC          CODING_HL         &mmv MOVE_DOWN      CODING_HR           &kp RBRC
  &kp LT            CODING_LL         &mmv MOVE_LEFT      CODING_LR           &kp GT
  &none   SPECIAL_CONTROLS_TL         &mmv MOVE_RIGHT     SPECIAL_CONTROLS_TR
                                      &mkp LCLK
  , &encoder_scroll
)

CUSTOM_LAYER2(controls, "Controls",
  UG(RGB_HUI)       CONTROLS_UL       &mmv MOVE_UP        CONTROLS_UR         UG(RGB_SAI)
  UG(RGB_HUD)       CONTROLS_HL       &mmv MOVE_DOWN      CONTROLS_HR         UG(RGB_SAD)
  UG(RGB_BRD)       CONTROLS_LL       &mmv MOVE_LEFT      CONTROLS_LR         &bt BT_CLR
  &none             CONTROLS_TL       &mmv MOVE_RIGHT     CONTROLS_TR
                                      &mkp LCLK
  , &encoder_scroll
)

CUSTOM_LAYER2(funcs, "Funcs",
  &none             FUNCS_UL          &mmv MOVE_UP        FUNCS_UR            &none
  &none             FUNCS_HL          &mmv MOVE_DOWN      FUNCS_HR            &none
  &none             FUNCS_LL          &mmv MOVE_LEFT      FUNCS_LR            &none
  &none             FUNCS_TL          &mmv MOVE_RIGHT     FUNCS_TR
                                      &mkp LCLK
  , &encoder_screen
)

CUSTOM_LAYER2(afk, "AFK",
  &none             AFK_UL            &none               AFK_UR              &none
  &none             AFK_HL            &none               AFK_HR              &none
  &none             AFK_LL            &none               AFK_LR              &none
  &none             AFK_TL            &none               AFK_TR
                                      &none
  , &encoder_afk
)
