/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// layers
#define ALPHA    0
#define NUMBERS  1
#define CODING   2
#define CONTROLS 3

/*
    key positions
    ╭────────────────────╮ ╭────────────────────╮
    │  0   1   2   3   4 │ │  5   6   7   8   9 │
    │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
    │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
    ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
            ╰────────────╯ ╰────────────╯
      Thumbs:  L3  L2  L1     R1  R2  R3
*/
// thumb key positions
#define L3 30
#define L2 31
#define L1 32
#define R1 33
#define R2 34
#define R3 35

// special characters
#define K_YEN     LA(Y)
#define K_EURO    LA(LS(N2))
#define K_POUND   LA(N3)

// modifier aliases
#define HYPER(K) LC(LA(LG(LS(K))))
#define MEH(K) LC(LA(LS(K)))

// special shortcuts
#define K_ONE_PASSWORD_AUTOFILL          HYPER(X)
#define K_ONE_PASSWORD_SHOW              MEH(X)
#define K_ONE_PASSWORD_BROWSER           LA(LS(X))
#define K_OKTA                           LA(LS(O))
#define K_KEYCAST_TOGGLE                 HYPER(SEMI)
#define K_PRESENTIFY_ANNOTATE            MEH(A)

// combo helper
#define COMBO(NAME, KEYPOS, BINDINGS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    slow-release; \
    key-positions = <KEYPOS>; \
    bindings = <BINDINGS>; \
  };

// macro helper
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
    compatible = "zmk,behavior-macro"; \
    label = "##NAME"; \
    #binding-cells = <0>; \
    wait-ms = <40>; \
    tap-ms = <40>; \
    bindings = <BINDINGS>; \
  };

&sl {
    release-after-ms = <2000>;
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE MINUS DOT>;
};

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
      tri_layer {
        if-layers = <1 2>;
        then-layer = <3>;
      };
  };

  combos {
    compatible = "zmk,combos";

    /// horizontal, adjacent

    COMBO(  qw,         0 1,    &kp LG(W)                            )
    // COMBO(  we,         1 2,    &kp                                  )
    // COMBO(  er,         2 3,    &kp                                  )
    COMBO(  rt,         3 4,    &kp UNDERSCORE                       )

    COMBO(  yu,         5 6,    &kp MINUS                            )
    // COMBO(  ui,         6 7,    &kp                                  )
    // COMBO(  io,         7 8,    &kp                                  )
    // COMBO(  op,         8 9,    &kp                                  )

    // COMBO(  as,         10 11,  &kp                                  )
    COMBO(  sd,         11 12,  &kp BACKSPACE                        )
    COMBO(  df,         12 13,  &kp ESCAPE                           )
    COMBO(  fg,         13 14,  &kp DELETE                           )

    COMBO(  hj,         15 16,  &kp BACKSPACE                        )
    COMBO(  jk,         16 17,  &kp ESCAPE                           )
    COMBO(  kl,         17 18,  &kp DELETE                           )
    COMBO(  lscln,      18 19,  &kp APOSTROPHE                       )

    COMBO(  zx,         20 21,  &kp LG(Z)                            )
    COMBO(  xc,         21 22,  &kp LG(X)                            )
    COMBO(  cv,         22 23,  &kp LG(C)                            )
    COMBO(  vb,         23 24,  &kp LG(V)                            )

    // COMBO(  nm,         25 26,  &kp                                  )
    // COMBO(  mcomma,     26 27,  &kp                                  )
    COMBO(  commdot,    27 28,  &macro_is_unread                     )
    // COMBO(  dotslsh,    28 29,  &kp                                  )

    /// vertical, adjacent

    COMBO(  qa,         0 10,   &kp EXCL                             )
    COMBO(  ws,         1 11,   &kp AT                               )
    COMBO(  ed,         2 12,   &kp HASH                             )
    COMBO(  rf,         3 13,   &kp DOLLAR                           )
    COMBO(  tg,         4 14,   &kp PERCENT                          )

    COMBO(  yh,         5 15,   &kp CARET                            )
    COMBO(  uj,         6 16,   &kp AMPS                             )
    COMBO(  ik,         7 17,   &kp STAR                             )
    COMBO(  ol,         8 18,   &kp GRAVE                            )
    COMBO(  pscln,      9 19,   &kp EQUAL                            )

    COMBO(  az,         10 20,   &kp BSLH                            )
    COMBO(  sx,         11 21,   &kp LT                              )
    COMBO(  dc,         12 22,   &kp LBRC                            )
    COMBO(  fv,         13 23,   &kp LBKT                            )
    COMBO(  gb,         14 24,   &kp LPAR                            )

    COMBO(  hn,         15 25,   &kp RPAR                            )
    COMBO(  jm,         16 26,   &kp RBKT                            )
    COMBO(  kcomm,      17 27,   &kp RBRC                            )
    COMBO(  ldot,       18 28,   &kp GT                              )
    COMBO(  sclnslsh,   19 29,   &kp EXCL                            )

    /// diagonal, adjacent

    COMBO(  aw,         10 1,    &kp LS(A)                           )
    COMBO(  rg,         3 14,    &kp EQUAL                           )
    COMBO(  hu,         15 6,    &kp LS(EQUAL)                       )
    COMBO(  ji,         16 7,    &kp LS(I)                           )
    COMBO(  dv,         12 23,   &kp RETURN                          )
    COMBO(  mk,         15 26,   &kp RETURN                          )
    COMBO(  oscln,      8 19,    &kp DOUBLE_QUOTES                   )

    /// special
    COMBO(  jl,         16 18,   &to ALPHA                           )
    COMBO(  sf,         11 13,   &to ALPHA                           )
    COMBO(  sfjl,       11 13 16 18,   &bt BT_CLR                    )
    COMBO(  jkl,        16 17 18,&kp K_MUTE                          )
    COMBO(  xv,         21 23,   &kp SPACE                           )
    COMBO(  mdot,       26 28,   &kp SPACE                           )

    /// one-handed one-shots, mirrored on both sides

    COMBO(  l2_q,       0 L2,   &kp LG(LC(Q))                        )
    COMBO(  l2_w,       1 L2,   &sl NUMBERS                          )
    COMBO(  l2_e,       2 L2,   &sl CODING                           )
    COMBO(  l2_r,       3 L2,   &sl CONTROLS                         )
    COMBO(  l2_t,       4 L2,   &caps_word                           )

    COMBO(  l2_a,       10 L2,  &sk LCTRL                            )
    COMBO(  l2_s,       11 L2,  &sk LALT                             )
    COMBO(  l2_d,       12 L2,  &sk LGUI                             )
    COMBO(  l2_f,       13 L2,  &sk LSHIFT                           )
    COMBO(  l2_g,       14 L2,  &sk LC(LA(LG(LSHIFT)))               )

    COMBO(  l2_z,       20 L2,  &kp CAPS                             )
    COMBO(  l2_x,       21 L2,  &tog NUMBERS                         )
    COMBO(  l2_c,       22 L2,  &tog CODING                          )
    COMBO(  l2_v,       23 L2,  &tog CONTROLS                        )
    COMBO(  l2_b,       24 L2,  &sk LC(LA(LSHIFT))                   )

    COMBO(  r2_y,       5 L2,   &caps_word                           )
    COMBO(  r2_u,       6 L2,   &sl CONTROLS                         )
    COMBO(  r2_i,       7 L2,   &sl CODING                           )
    COMBO(  r2_o,       8 L2,   &sl NUMBERS                          )
    COMBO(  r2_p,       9 L2,   &to ALPHA                            ) // back to default layer

    COMBO(  r2_h,       15 L2,  &sk RC(RA(RG(RSHIFT)))               ) // hyper
    COMBO(  r2_j,       16 L2,  &sk RSHIFT                           )
    COMBO(  r2_k,       17 L2,  &sk RGUI                             )
    COMBO(  r2_l,       18 L2,  &sk RALT                             )
    COMBO(  r2_scln,    19 L2,  &sk RCTRL                            )

    COMBO(  r2_n,       25 L2,  &sk LC(LA(LSHIFT))                   )
    COMBO(  r2_m,       26 L2,  &tog CONTROLS                        )
    COMBO(  r2_comm,    27 L2,  &tog CODING                          )
    COMBO(  r2_dot,     28 L2,  &tog NUMBERS                         )
    COMBO(  r2_slsh,    29 L2,  &kp CAPS                             )

    /// two-handed symmetric combos

    // COMBO(  qp,         0 9,    &kp                                  )
    // COMBO(  wo,         1 8,    &kp                                  )
    // COMBO(  ei,         2 7,    &kp                                  )
    // COMBO(  ro,         3 6,    &kp                                  )
    // COMBO(  ty,         4 5,    &kp                                  )

    COMBO(  ascln,      10 19,  &sk LCTRL                            )
    COMBO(  sl,         11 18,  &sk LALT                             )
    COMBO(  dk,         12 17,  &sk LGUI                             )
    COMBO(  fj,         13 16,  &sk LSHIFT                           )
    COMBO(  gh,         14 15,  &sk LC(LA(LG(LSHIFT)))               ) // hyper

    COMBO(  zslsh,      20 29,  &kp LG(Z)                            )
    COMBO(  xdot,       21 28,  &kp LG(X)                            )
    COMBO(  ccomm,      22 27,  &kp LG(C)                            )
    COMBO(  vm,         23 26,  &kp LG(V)                            )
    COMBO(  bn,         24 25,  &sk LC(LA(LSHIFT))                   ) // meh

    COMBO(  LT1RT1,     L1 R1,  &kp CAPS                             )
    COMBO(  LT2RT2,     L2 R2,  &caps_word                           )
    COMBO(  LT3RT3,     L3 R3,  &tog CONTROLS                        )

    /// more modifier combos
    COMBO(  l2_as,      L2 10 11,     &kp LC(LALT)                   )
    COMBO(  l2_ad,      L2 10 12,     &kp LC(LGUI)                   )
    COMBO(  l2_af,      L2 10 13,     &kp LC(LSHIFT)                 )
    COMBO(  l2_sd,      L2 11 12,     &kp LA(LGUI)                   )
    COMBO(  l2_sf,      L2 11 13,     &kp LA(LSHIFT)                 )
    COMBO(  l2_df,      L2 12 13,     &kp LG(LSHIFT)                 )
    COMBO(  l2_asd,     L2 10 11 12,  &kp LC(LA(LGUI))               )
    COMBO(  l2_asf,     L2 10 11 13,  &kp LC(LA(LSHIFT))             )
    COMBO(  l2_adf,     L2 10 12 13,  &kp LC(LG(LSHIFT))             )
    COMBO(  l2_sdf,     L2 11 12 13,  &kp LA(LG(LSHIFT))             )

    COMBO(  r2_cl,      R2 19 18,     &kp LC(LALT)                   )
    COMBO(  r2_ck,      R2 19 17,     &kp LC(LGUI)                   )
    COMBO(  r2_cj,      R2 19 16,     &kp LC(LSHIFT)                 )
    COMBO(  r2_lk,      R2 18 17,     &kp LA(LGUI)                   )
    COMBO(  r2_lj,      R2 18 16,     &kp LA(LSHIFT)                 )
    COMBO(  r2_kj,      R2 17 16,     &kp LG(LSHIFT)                 )
    COMBO(  r2_clk,     R2 19 18 17,  &kp LC(LA(LGUI))               )
    COMBO(  r2_clj,     R2 19 18 16,  &kp LC(LA(LSHIFT))             )
    COMBO(  r2_ckj,     R2 19 17 16,  &kp LC(LG(LSHIFT))             )
    COMBO(  r2_lkj,     R2 18 17 16,  &kp LA(LG(LSHIFT))             )

    /// applications

    COMBO(  semi_k,     19 17,        &kp K_OKTA                     )
    COMBO(  semi_j,     19 16,        &kp K_ONE_PASSWORD_SHOW        )
    COMBO(  semi_h,     19 15,        &kp K_ONE_PASSWORD_AUTOFILL    )
    COMBO(  semi_g,     19 14,        &kp K_KEYCAST_TOGGLE           )
    COMBO(  semi_f,     19 13,        &kp K_PRESENTIFY_ANNOTATE      )
  };

  macros {
    MACRO(  is_unread,          &macro_tap &kp I &kp S &kp COLON &kp U &kp N &kp R &kp E &kp A &kp D)
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      label = "alpha";
      /*
        Q              W              E              R              T                   Y              U              I              O              P
        A              S              D              F              G                   H              J              K              L              ;
        Z              X              C              V              B                   N              M              ,              .              /
                                      NUMBERS        Shift (One)    Tab                 Enter          Space          CODING
      */
      bindings = <
        &kp Q          &kp W          &kp E          &kp R          &kp T               &kp Y          &kp U          &kp I          &kp O          &kp P
        &kp A          &kp S          &kp D          &kp F          &kp G               &kp H          &kp J          &kp K          &kp L          &kp SEMI
        &kp Z          &kp X          &kp C          &kp V          &kp B               &kp N          &kp M          &kp COMMA      &kp DOT        &kp FSLH
                                      &sl NUMBERS    &sk LSHFT      &kp TAB             &kp RETURN     &kp SPACE      &sl CODING
      >;
    };

    numbers {
      label = "numbers";
      /*
        F1             F2             F3             F4             F5                  F6             F7             F8             F9             F10
        1              2              3              4              5                   6              7              8              9              10
        ¥              €              -              =              *                   £              $              ,              .              /
                                      _____          _____          _____               _____          _____          _____
      */
      bindings = <
        &kp F1         &kp F2         &kp F3         &kp F4         &kp F5              &kp F6         &kp F7         &kp F8         &kp F9         &kp F10
        &kp N1         &kp N2         &kp N3         &kp N4         &kp N5              &kp N6         &kp N7         &kp N8         &kp N9         &kp N0
        &kp K_YEN      &kp K_EURO     &kp MINUS      &kp EQUAL      &kp STAR            &kp K_POUND    &kp DOLLAR     &kp COMMA      &kp DOT        &kp FSLH
                                      &trans         &trans         &trans              &trans         &trans         &trans
      >;
    };

    coding {
      label = "coding";
      /*
        ^              @              (              )              $                   Home           PgDn           PgUp           End            |
        '              `              [              ]              *                   Left           Down           Up             Right          \
        !              #              -              =              ~                   %              &              ,              .              /
                                      _____          _____          _____               _____          _____          _____
      */
      bindings = <
        &kp CARET      &kp AT         &kp LPAR       &kp RPAR       &kp DOLLAR          &kp HOME       &kp PG_DN      &kp PG_UP      &kp END        &kp PIPE
        &kp APOS       &kp GRAVE      &kp LBKT       &kp RBKT       &kp STAR            &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp BSLH
        &kp EXCL       &kp HASH       &kp MINUS      &kp EQUAL      &kp TILDE           &kp PERCENT    &kp AMPS       &kp COMMA      &kp DOT        &kp FSLH
                                      &trans         &trans         &trans              &trans         &trans         &trans
      >;
    };

    controls {
      label = "controls";
      /*
        CapsLock       Prev           Play/Pause     Next           Vol Up              F7             F8             F9             F10            F13
        BT 0           BT 1           BT 2           BT 3           Vol Dn              F4             F5             F6             F11            F14
        _____          _____          _____          _____          _____               F1             F2             F3             F12            F15
                                      _____          _____          _____               _____          _____          _____
      */
      bindings = <
        &kp CAPS       &kp C_PREV     &kp C_PP       &kp C_NEXT     &kp C_VOL_UP        &kp F7         &kp F8         &kp F9         &kp F10        &kp F13
        &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &kp C_VOL_DN        &kp F4         &kp F5         &kp F6         &kp F11        &kp F14
        &none          &none          &none          &none          &kp K_MUTE          &kp F1         &kp F2         &kp F3         &kp F12        &kp F15
                                      &trans         &trans         &trans              &trans         &trans         &trans
      >;
    };
  };
};
