#include <dt-bindings/zmk/mouse.h>

// mouse emulation
&mmv {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent=<1>;
    delay-ms = <0>;
};

&msc {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent=<0>;
    delay-ms = <0>;
};

#define U_MOUSE_MOVE_MAX      2250      // 600
#define U_MOUSE_SCROLL_MAX    50        // 10

#undef  MOVE_UP
#undef  MOVE_DOWN
#undef  MOVE_LEFT
#undef  MOVE_RIGHT
#define MOVE_UP         MOVE_Y(-U_MOUSE_MOVE_MAX)
#define MOVE_DOWN       MOVE_Y(U_MOUSE_MOVE_MAX)
#define MOVE_LEFT       MOVE_X(-U_MOUSE_MOVE_MAX)
#define MOVE_RIGHT      MOVE_X(U_MOUSE_MOVE_MAX)

#undef  SCROLL_UP
#undef  SCROLL_DOWN
#undef  SCROLL_LEFT
#undef  SCROLL_RIGHT
#define SCROLL_UP       SCRL_Y(U_MOUSE_SCROLL_MAX)
#define SCROLL_DOWN     SCRL_Y(-U_MOUSE_SCROLL_MAX)
#define SCROLL_LEFT     SCRL_X(-U_MOUSE_SCROLL_MAX)
#define SCROLL_RIGHT    SCRL_X(U_MOUSE_SCROLL_MAX)

// mouse aliases
#define MW_D            SCROLL_DOWN
#define MW_U            SCROLL_UP
#define MV_L            MOVE_LEFT
#define MV_R            MOVE_RIGHT
#define MV_D            MOVE_DOWN
#define MV_U            MOVE_UP
