TD(lctrl,   200,  <&ht_mo_sk MOUSE LCTRL>,
                  <&kt LCTRL>)

TD(lalt,    200,  <&ht_mo_sk SNIPE LALT>,
                  <&kt LALT>)

TD(lgui,    200,  <&ht_mo_sk NUMBERS LGUI>,
                  <&kt LGUI>)

TD(lshift,  500,  <&sk LSHIFT>,
                  <&caps_word>,
                  <&kp CAPS>)

TD(semi,    200,  <&ht_mo_kp CONTROLS SEMI>,
                  <&ht_mo_tog SNIPE SCROLL>,
                  <&m_tmux_copy_mode>)

TD(apos,    200,  <&ht_mo_kp NAV APOSTROPHE>,
                  <&kp GRAVE>)

TD(comma,   200,  <&kp COMMA>,
                  <&kp EXCL>)

TD(minus,   200,  <&kp MINUS>,
                  <&kp UNDER>)

TD(plus,    200,  <&kp PLUS>,
                  <&kp EQUAL>)

TD(dot,     200,  <&kp DOT>,
                  <&kp COLON>)

TD(fslh,    200,  <&kp FSLH>,
                  <&kp HASH>)

TD(star,    200,  <&kp STAR>,
                  <&kp DOLLAR>)
