TD(lctrl,   200,  <&sk LCTRL>,
                  <&kt LCTRL>)

TD(lalt,    200,  <&sk LALT>,
                  <&kt LALT>)

TD(lgui,    200,  <&sk LGUI>,
                  <&kt LGUI>)

TD(lshift,  500,  <&sk LSHIFT>,
                  <&caps_word>,
                  <&kp CAPS>)

TD(semi,    200,  <&ht_mo_kp CONTROLS SEMI>,
                  <&m_tmux_copy_mode>)

TD(apos,    200,  <&ht_mo_kp CODING APOSTROPHE>,
                  <&kp GRAVE>)
