/* inherit to force styles through use tags */
svg path {
    fill: inherit;
}

/* font and background color specifications */
svg.keymap {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    fill: #c1ccd9;
}

/* default key styling */
rect.key {
    fill: #353b40;
    stroke: #46515c;
    stroke-width: 2;
}

/* highlighted key styling */
rect.hilite {
    fill: #4d5b6d;
    stroke: #46515c;
    stroke-width: 2;
}

/* default key side styling, only used is draw_key_sides is set */
rect.side {
    filter: brightness(90%);
}

/* color accent for combo boxes */
rect.combo, rect.combo-separate {
    fill: #112342;
    stroke: #404a5c;
    stroke-width: 2px;
}

/* color accent for held keys */
rect.held, rect.combo.held {
    fill: #fdd;
    stroke: #6b0d06;
}

/* color accent for LHS combos */
rect.lhs {
    fill: #562634;
    stroke: #46515c;
}
rect.lhs-main {
    fill: #952753;
    stroke: #46515c;
}

/* color accent for RHS combos */
rect.rhs {
    fill: #1d435f;
    stroke: #46515c;
}
rect.rhs-main {
    fill: #246397;
    stroke: #46515c;
}

/* color accent for special combo */
rect.combo-special {
    fill: yellow;
    stroke: #e3af05;
}

/* color accent for combos the must include one of the keys with this same color */
rect.combo-any {
    fill: #81c77d;
    stroke: #094206;
}

.combo-special, .combo-any, .held {
    fill: #000;
}

/* color accent for ghost (optional) keys */
rect.ghost, rect.combo.ghost {
    stroke-dasharray: 4, 4;
    stroke-width: 2;
    fill: #111;
}

text {
    text-anchor: middle;
    dominant-baseline: middle;
}

/* styling for layer labels */
text.label {
    font-weight: bold;
    font-size: 16px;
    text-anchor: start;
    stroke: white;
    fill: #555;
    stroke-width: 0;
    paint-order: stroke;

    display: none;
}

/* styling for combo tap, and key hold/shifted label text */
text.combo, text.hold, text.shifted {
    font-size: 10px;
    font-weight: bold;
}

text.hold {
    text-anchor: middle;
    dominant-baseline: auto;
}

text.shifted {
    text-anchor: middle;
    dominant-baseline: hanging;
}

/* styling for hold/shifted label text in combo box */
text.combo.hold, text.combo.shifted {
    font-size: 8px;
}

/* lighter symbol for transparent keys */
text.trans {
    fill: #7b7e81;
}

/* other special text colors */
.green {
    fill: #378b2e;
}
.red {
    fill: #c62843;
}
.yellow {
    fill: #eff34b;
}
.blue {
    fill: #1b57c9;
}

/* styling for combo dendrons */
path.combo {
    stroke-width: 1;
    stroke: gray;
    fill: none;
}

/* Start Tabler Icons Cleanup */
/* cannot use height/width with glyphs */
.icon-tabler > path {
    fill: inherit;
    stroke: inherit;
    stroke-width: 2;
}
/* hide tabler's default box */
.icon-tabler > path[stroke="none"][fill="none"] {
    visibility: hidden;
}
/* End Tabler Icons Cleanup */
