/// ---------------------------------------------------------------------------
/// horizontally adjacent combos

ADD_COMBO(0, LU5 LU4,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, LU4 LU3,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, LU3 LU2,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(1, LU2 LU1,            &kp PLUS,                      LAYERS_NORMAL)

ADD_COMBO(1, RU1 RU2,            &kp MINUS,                     LAYERS_NORMAL)
ADD_COMBO(0, RU2 RU3,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, RU3 RU4,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, RU4 RU5,            XXXXXXXXXX,                    LAYERS_NORMAL)

ADD_COMBO(0, LH5 LH4,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(1, LH4 LH3,            &kp BACKSPACE,                 LAYERS_NORMAL)
ADD_COMBO(1, LH3 LH2,            &kp ESCAPE,                    LAYERS_NORMAL)
ADD_COMBO(1, LH2 LH1,            &kp DELETE,                    LAYERS_NORMAL)

ADD_COMBO(1, RH1 RH2,            &kp BACKSPACE,                 LAYERS_NORMAL)
ADD_COMBO(1, RH2 RH3,            &kp ESCAPE,                    LAYERS_NORMAL)
ADD_COMBO(1, RH3 RH4,            &kp DELETE,                    LAYERS_NORMAL)
ADD_COMBO(0, RH4 RH5,            XXXXXXXXXX,                    LAYERS_NORMAL)

ADD_COMBO(1, LL5 LL4,            &kp Y_UNDO,                    LAYERS_NORMAL)
ADD_COMBO(1, LL4 LL3,            &kp Y_CUT,                     LAYERS_NORMAL)
ADD_COMBO(1, LL3 LL2,            &kp Y_COPY,                    LAYERS_NORMAL)
ADD_COMBO(1, LL2 LL1,            &kp Y_PASTE,                   LAYERS_NORMAL)

ADD_COMBO(1, RL1 RL2,            &kp LA(BACKSPACE),             LAYERS_NORMAL)
ADD_COMBO(1, RL2 RL3,            &kp APOSTROPHE,                LAYERS_NORMAL)
ADD_COMBO(1, RL3 RL4,            &kp DQT,                       LAYERS_NORMAL)
ADD_COMBO(1, RL4 RL5,            &kp GRAVE,                     LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// vertically adjacent ZMK_combos

// LPAR () LBKT [] LBRC {}
ADD_COMBO(1, LU5 LH5,            &kp BSLH,                      LAYERS_NORMAL)
ADD_COMBO(1, LU4 LH4,            &kp LT,                        LAYERS_NORMAL)
ADD_COMBO(1, LU3 LH3,            &kp LPAR,                      LAYERS_NORMAL)
ADD_COMBO(1, LU2 LH2,            &kp LBKT,                      LAYERS_NORMAL)
ADD_COMBO(1, LU1 LH1,            &kp LBRC,                      LAYERS_NORMAL)

ADD_COMBO(1, RU1 RH1,            &kp RBRC,                      LAYERS_NORMAL)
ADD_COMBO(1, RU2 RH2,            &kp RBKT,                      LAYERS_NORMAL)
ADD_COMBO(1, RU3 RH3,            &kp RPAR,                      LAYERS_NORMAL)
ADD_COMBO(1, RU4 RH4,            &kp GT,                        LAYERS_NORMAL)
ADD_COMBO(1, RU5 RH5,            &kp PIPE,                      LAYERS_NORMAL)

ADD_COMBO(1, LH5 LL5,            &kp F1,                        LAYERS_NORMAL)
ADD_COMBO(1, LH4 LL4,            &kp F2,                        LAYERS_NORMAL)
ADD_COMBO(1, LH3 LL3,            &kp F3,                        LAYERS_NORMAL)
ADD_COMBO(1, LH2 LL2,            &kp F4,                        LAYERS_NORMAL)
ADD_COMBO(1, LH1 LL1,            &kp F5,                        LAYERS_NORMAL)

ADD_COMBO(1, RH1 RL1,            &kp F6,                        LAYERS_NORMAL)
ADD_COMBO(1, RH2 RL2,            &kp F7,                        LAYERS_NORMAL)
ADD_COMBO(1, RH3 RL3,            &kp F8,                        LAYERS_NORMAL)
ADD_COMBO(1, RH4 RL4,            &kp F9,                        LAYERS_NORMAL)
ADD_COMBO(1, RH5 RL5,            &kp F10,                       LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// diagonal combos

/// diagonal combos: left handed
ADD_COMBO(1, LU2 LH1,            &kp EQUAL,                     LAYERS_NORMAL)
ADD_COMBO(1, LH2 LL1,            &kp SPACE,                     LAYERS_NORMAL)
ADD_COMBO(1, LU3 LH2,            &kp TAB,                       LAYERS_NORMAL)
ADD_COMBO(1, LH3 LL2,            &kp RETURN,                    LAYERS_NORMAL)

/// diagonal combos: right handed
ADD_COMBO(1, RU2 RH1,            &kp UNDERSCORE,                LAYERS_NORMAL)
ADD_COMBO(1, RH2 RL1,            &kp BACKSLASH,                 LAYERS_NORMAL)
ADD_COMBO(1, RU3 RH2,            &kp LS(TAB),                   LAYERS_NORMAL)
ADD_COMBO(1, RH3 RL2,            &kp RETURN,                    LAYERS_NORMAL)
