/// ---------------------------------------------------------------------------
/// Combo: MacOS and utility apps

ADD_COMBO(1, BK_APPS LU5,            &kp Y_BARTENDER_SEARCH,              LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LU4,            &kp Y_OKTA,                          LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LU3,            &kp Y_MENUBAR,                       LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LU2,            &kp Y_DOCK,                          LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LU1,            &kp Y_LAUNCHPAD,                     LAYERS_NORMAL)

ADD_COMBO(1, BK_APPS RU1,            &kp Y_ONE_PASSWORD_AUTOFILL,         LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS RU2,            &kp Y_ONE_PASSWORD_SHOW,             LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS RU3,            &kp Y_KEYCAST_TOGGLE,                LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RU4,            XXXXXXXXXX,                          LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RU5,            Reserved: inaccessible,              LAYERS_NORMAL)

ADD_COMBO(0, BK_APPS LH5,            Reserved: symmetric,                 LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LH4,            &kp Y_RAYCAST,                       LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LH3,            &kp Y_SHORTCAT,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LH2,            &kp Y_ONE_PASSWORD_QUICK_ACCESS,     LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LH1,            &kp Y_GOOGLE_DRIVE_SEARCH,           LAYERS_NORMAL)

ADD_COMBO(1, BK_APPS RH1,            &kp Y_MISSION_CONTROL,               LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS RH2,            &kp Y_APPLICATION_WINDOWS,           LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS RH3,            &kp Y_HAZEOVER_TOGGLE,               LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RH4,            Reserved: Misfires,                  LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RH5,            Reserved: Adjacent,                  LAYERS_NORMAL)

ADD_COMBO(0, BK_APPS LL5,            Reserved: Symmetric,                 LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LL4,            &kp Y_SOUND_SETTINGS,                LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LL3,            &kp Y_DISPLAY_SETTINGS,              LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS LL2,            &kp Y_CHAR_VIEWER,                   LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS LL1,            Reserved: browser,                   LAYERS_NORMAL)

ADD_COMBO(1, BK_APPS RL1,            &kp Y_PRESENTIFY_ANNOTATE,           LAYERS_NORMAL)
ADD_COMBO(1, BK_APPS RL2,            &kp Y_ONE_SWITCH_MUTE_MIC,           LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RL3,            XXXXXXXXXX,                          LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RL4,            XXXXXXXXXX,                          LAYERS_NORMAL)
ADD_COMBO(0, BK_APPS RL5,            XXXXXXXXXX,                          LAYERS_NORMAL)
