/// Combo: ; + ? /// MacOS and utility apps
/// TODO: Y_MI_NAME_WINDOW
/// TODO: Toggle AirDrop?
/// TODO: Search: Google Drive

CUSTOM_COMBO(  lh4lh3lh2,      LH4 LH3 LH2,        &kp K_MUTE                           )
CUSTOM_COMBO(  rh4rh3rh2,      RH4 RH3 RH2,        &kp K_MUTE                           )
CUSTOM_COMBO(  ll4ll3ll2,      LL4 LL3 LL2,        &kp Y_LOCK_SCREEN                    )
CUSTOM_COMBO(  rl4rl3rl2,      RL4 RL3 RL2,        &kp Y_LOCK_SCREEN                    )

/// ---------------------------------------------------------------------------
// usually it's the second last, next to "Help". Good enough for me.
///
CUSTOM_COMBO(  rh5lu5,         RH5 LU5,            &kp Y_MISSION_CONTROL                )
CUSTOM_COMBO(  rh5lu4,         RH5 LU4,            &m_mac_win_menu                      )
CUSTOM_COMBO(  rh5lu3,         RH5 LU3,            &kp Y_DOCK                           )
CUSTOM_COMBO(  rh5lu2,         RH5 LU2,            &kp Y_MI_NAME_WINDOW                 ) // this is specific for Chrome/Brave Browser
/**
CUSTOM_COMBO(  rh5lu1,         RH5 LU1,            &kp Y_TOGGLE_DND                     )
*/

/// ---------------------------------------------------------------------------
/**
CUSTOM_COMBO(  rh5lh5,         RH5 LH5,            RESERVED: symmetric                  )
*/
CUSTOM_COMBO(  rh5lh4,         RH5 LH4,            &kp Y_SPOTLIGHT                      )
CUSTOM_COMBO(  rh5lh3,         RH5 LH3,            &kp Y_SHORTCAT                       )
CUSTOM_COMBO(  rh5lh2,         RH5 LH2,            &kp Y_ONE_PASSWORD_QUICK_ACCESS      )
CUSTOM_COMBO(  rh5lh1,         RH5 LH1,            &kp Y_GOOGLE_DRIVE_SEARCH            )

/// ---------------------------------------------------------------------------
CUSTOM_COMBO(  rh5ll5,         RH5 LL5,            &kp Y_APPLICATION_WINDOWS            )
/**
CUSTOM_COMBO(  rh5ll4,         RH5 LL4,            &kp XXXXXXXXXX                       )
CUSTOM_COMBO(  rh5ll3,         RH5 LL3,            &kp XXXXXXXXXX                       )
CUSTOM_COMBO(  rh5ll2,         RH5 LL2,            &kp XXXXXXXXXX                       )
*/
CUSTOM_COMBO(  rh5ll1,         RH5 LL1,            &kp Y_BARTENDER_SEARCH               )

/// ---------------------------------------------------------------------------
/**
CUSTOM_COMBO(  rh5ru1,         RH5 RU1,            &kp XXXXXXXXXX                       )
CUSTOM_COMBO(  rh5ru2,         RH5 RU2,            &kp XXXXXXXXXX                       )
CUSTOM_COMBO(  rh5ru3,         RH5 RU3,            &kp XXXXXXXXXX                       )
CUSTOM_COMBO(  rh5ru4,         RH5 RU4,            &kp XXXXXXXXXX                       )
*/

/// ---------------------------------------------------------------------------
CUSTOM_COMBO(  rh5rh1,         RH5 RH1,            &kp Y_HAZEOVER_TOGGLE                )
CUSTOM_COMBO(  rh5rh2,         RH5 RH2,            &kp Y_KEYCAST_TOGGLE                 )
CUSTOM_COMBO(  rh5rh3,         RH5 RH3,            &kp Y_OKTA                           )

/// ---------------------------------------------------------------------------
CUSTOM_COMBO(  rh5rl1,         RH5 RL1,            &kp Y_PRESENTIFY_ANNOTATE            )
/**
CUSTOM_COMBO(  rh5rl2,         RH5 RL2,            &kp XXXXXXXXXX                       )
CUSTOM_COMBO(  rh5rl3,         RH5 RL3,            &kp XXXXXXXXXX                       )
*/

/**
CUSTOM_COMBO(  rl2rl3lu1,               RL2 RL3 LU1,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu2,               RL2 RL3 LU2,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu3,               RL2 RL3 LU3,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu4,               RL2 RL3 LU4,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu5,               RL2 RL3 LU5,        XXXXXXXXXX                          )
*/

/**
CUSTOM_COMBO(  rl2rl3lu1,               RL2 RL3 LU1,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu2,               RL2 RL3 LU2,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu3,               RL2 RL3 LU3,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu4,               RL2 RL3 LU4,        XXXXXXXXXX                          )
CUSTOM_COMBO(  rl2rl3lu5,               RL2 RL3 LU5,        XXXXXXXXXX                          )
*/
