/// ---------------------------------------------------------------------------
/// Combo: Browser: Surfingkeys, Gmail, etc

ADD_COMBO(1, BK_BROWSER_R LL5,            &m_sk_x_all_left,                       LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_R LL4,            &m_sk_x_all_except,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_R LL3,            &m_sk_x_all_right,                      LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LL2,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LL1,            XXXXXXXXXX,                             LAYERS_NORMAL)

ADD_COMBO(0, BK_BROWSER_R LH1,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LH2,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_R LH3,            &kp LG(RBKT),                           LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_R LH4,            &kp LG(LBKT),                           LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_R LH5,            &kp Y_CHROME_TAB_SEARCH,                LAYERS_NORMAL)

ADD_COMBO(0, BK_BROWSER_R LH1,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LH2,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LH3,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LH4,            XXXXXXXXXX,                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_R LH5,            XXXXXXXXXX,                             LAYERS_NORMAL)

ADD_COMBO(1, BK_BROWSER_L RU1,            &kp Y_CHROME_PROFILES,                  LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_L RU2,            Reserved: Misfires,                     LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_L RU3,            Reserved: Misfires,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RU4,            &kp Y_CHROME_BULK_IMAGE_DOWNLOADER,     LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RU5,            &kp Y_CHROME_DP_PARANOID,               LAYERS_NORMAL)

ADD_COMBO(1, BK_BROWSER_L RH1,            &kp LG(N1),                             LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RH2,            &kp LC(LS(TAB)),                        LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RH3,            &kp LC(TAB),                            LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RH4,            &kp LG(N9),                             LAYERS_NORMAL)
ADD_COMBO(0, BK_BROWSER_L RH5,            Reserved: Coding,                       LAYERS_NORMAL)

ADD_COMBO(0, BK_BROWSER_L RL1,            Reserved: Symmetric,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RL2,            &m_mac_win_menu,                        LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RL3,            &kp Y_CHROME_DR_TOGGLE,                 LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RL4,            &kp Y_CHROME_GOOGLE_TRANSLATE,          LAYERS_NORMAL)
ADD_COMBO(1, BK_BROWSER_L RL5,            &kp Y_CHROME_QR_GENERATE,               LAYERS_NORMAL)
