/// ---------------------------------------------------------------------------
/// Combo: G + ? /// Browser: Gmail: filter phrases
CUSTOM_COMBO(  rl4rl3rl2,      RL4 RL3 RL2,        &m_is_unread                         )
CUSTOM_COMBO(  rl4rl3rl1,      RL4 RL3 RL1,        &m_in_inbox                          )

/// ---------------------------------------------------------------------------
/// Combo: B + ? /// Browser: Surfingkeys: Combos/Macros
/// some useful keystrokes that's just tedious to type
/// g0             go to first tab
/// g$             go to last tab
/// gx0            close all tabs on left
/// gx$            close all tabs on right
/// gxx            close all tabs except current one
CUSTOM_COMBO(  ll1rh1,         LL1 RH1,            &m_sk_go_first_tab                   )
CUSTOM_COMBO(  ll1rh2,         LL1 RH2,            &m_sk_x_all_left                     )
CUSTOM_COMBO(  ll1rh3,         LL1 RH3,            &m_sk_x_all_right                    )
CUSTOM_COMBO(  ll1rh4,         LL1 RH4,            &m_sk_go_last_tab                    )
CUSTOM_COMBO(  ll1rh5,         LL1 RH5,            &m_sk_x_all_except                   )

// other useful keystrokes (not implemented as macros/combos here)
// cf             open multiple links in a new tab/multiple
// f              open link (shift to cycle overlapped hints)
// af             open link in active new tab
// C              open link in non-active new tab
// ;di            download image
// w              switch frames
// yt             duplicate current tab
// zr             zoom reset
// zi             zoom in
// zo             zoom out
// <<             move current tab to left
// >>             move current tab to right
// T              choose opened tab
// S              go back in history
// D              go forward in history
// B              go one tab history back
// F              go one tab history forward
// E              go one tab left
// R              go one tab right
// ;db            remove bookmark for current page
