/// ---------------------------------------------------------------------------
/// Combo: Capturing: Cleanshot, TextSniper, ...

ADD_COMBO(1, BK_CAPTURE RU1,        &kp Y_CLEANSHOT_RESTORE_LAST,                LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RU2,        &kp Y_CLEANSHOT_ANNOTATE_LAST,               LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RU3,        &kp Y_CLEANSHOT_CAPTURE_ANNOTATE,            LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RU4,        &kp Y_CLEANSHOT_PIN_TOGGLE,                  LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RU5,        &kp Y_CLEANSHOT_PIN_LAST,                    LAYERS_NORMAL)

ADD_COMBO(1, BK_CAPTURE RH1,        &kp Y_CLEANSHOT_CAPTURE_AREA,                LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RH2,        &kp Y_CLEANSHOT_CAPTURE_FULLSCREEN,          LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RH3,        &kp Y_CLEANSHOT_CAPTURE_WINDOW,              LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RH4,        &kp Y_CLEANSHOT_CAPTURE_SCROLLING,           LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RH5,        &kp Y_CLEANSHOT_ALL_IN_ONE,                  LAYERS_NORMAL)

ADD_COMBO(1, BK_CAPTURE RL1,        &kp Y_CLEANSHOT_HISTORY,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RL2,        &kp Y_CLEANSHOT_OVERLAYS_CLOSE,              LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RL3,        &kp Y_CLEANSHOT_OVERLAYS_TOGGLE,             LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RL4,        &kp Y_CLEANSHOT_OCR,                         LAYERS_NORMAL)
ADD_COMBO(1, BK_CAPTURE RL5,        &kp Y_CLEANSHOT_RECORD_SCREEN,               LAYERS_NORMAL)
