/// ---------------------------------------------------------------------------
/// Combo: T1 + ? + ? ... /// one-handed combos mods (sticky), mirrored

CUSTOM_COMBO(  lt1lh5lh4,      LT1 LH5 LH4,        &sk LC(LALT)                         )
CUSTOM_COMBO(  lt1lh5lh3,      LT1 LH5 LH3,        &sk LC(LGUI)                         )
CUSTOM_COMBO(  lt1lh5lh2,      LT1 LH5 LH2,        &sk LC(LSHIFT)                       )
CUSTOM_COMBO(  lt1lh4lh3,      LT1 LH4 LH3,        &sk LA(LGUI)                         )
CUSTOM_COMBO(  lt1lh4lh2,      LT1 LH4 LH2,        &sk LA(LSHIFT)                       )
CUSTOM_COMBO(  lt1lh3lh2,      LT1 LH3 LH2,        &sk LG(LSHIFT)                       )
CUSTOM_COMBO(  lt1lh5lh4lh3,   LT1 LH5 LH4 LH3,    &sk LC(LA(LGUI))                     )
CUSTOM_COMBO(  lt1lh5lh4lh2,   LT1 LH5 LH4 LH2,    &sk LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  lt1lh5lh3lh2,   LT1 LH5 LH3 LH2,    &sk LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  lt1lh4lh3lh2,   LT1 LH4 LH3 LH2,    &sk LA(LG(LSHIFT))                   )

CUSTOM_COMBO(  rt1rh5rh4,      RT1 RH5 RH4,        &sk LC(LALT)                         )
CUSTOM_COMBO(  rt1rh5rh3,      RT1 RH5 RH3,        &sk LC(LGUI)                         )
CUSTOM_COMBO(  rt1rh5rh2,      RT1 RH5 RH2,        &sk LC(LSHIFT)                       )
CUSTOM_COMBO(  rt1rh4rh3,      RT1 RH4 RH3,        &sk LA(LGUI)                         )
CUSTOM_COMBO(  rt1rh3rh2,      RT1 RH3 RH2,        &sk LG(LSHIFT)                       )
CUSTOM_COMBO(  rt1rh4rh2,      RT1 RH4 RH2,        &sk LA(LSHIFT)                       )
CUSTOM_COMBO(  rt1rh5rh4rh3,   RT1 RH5 RH4 RH3,    &sk LC(LA(GUI))                      )
CUSTOM_COMBO(  rt1rh5rh4rh2,   RT1 RH5 RH4 RH2,    &sk LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  rt1rh5rh3rh2,   RT1 RH5 RH3 RH2,    &sk LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  rt1rh4rh3rh2,   RT1 RH4 RH3 RH2,    &sk LA(LG(LSHIFT))                   )

/// ---------------------------------------------------------------------------
/// Combo: T2 + ? + ? ... /// one-handed combos mods (toggle), mirrored

CUSTOM_COMBO(  lt2lh5,         LT2 LH5,            &kt LCTRL                            )
CUSTOM_COMBO(  lt2lh4,         LT2 LH4,            &kt LALT                             )
CUSTOM_COMBO(  lt2lh3,         LT2 LH3,            &kt LGUI                             )
CUSTOM_COMBO(  lt2lh2,         LT2 LH2,            &kt LSHIFT                           )
CUSTOM_COMBO(  lt2lh1,         LT2 LH1,            &kt LHYPER                           )


// extra: meh
CUSTOM_COMBO(  lt2ll5,         LT2 LL5,            &tog SYMBOLS                         )
CUSTOM_COMBO(  lt2ll4,         LT2 LL4,            &tog CONTROLS                        )
CUSTOM_COMBO(  lt2ll3,         LT2 LL3,            &tog CODING                          )
CUSTOM_COMBO(  lt2ll2,         LT2 LL2,            &tog NUMBERS                         )
CUSTOM_COMBO(  lt2ll1,         LT2 LL1,            &kt LMEH                             )

CUSTOM_COMBO(  rt2rl1,         RT2 RL1,            &kt LMEH                             )
CUSTOM_COMBO(  rt2rl2,         RT2 RL2,            &tog NUMBERS                         )
CUSTOM_COMBO(  rt2rl3,         RT2 RL3,            &tog CODING                          )
CUSTOM_COMBO(  rt2rl4,         RT2 RL4,            &tog CONTROLS                        )
CUSTOM_COMBO(  rt2rl5,         RT2 RL5,            &tog SYMBOLS                         )

CUSTOM_COMBO(  rt2rh1,         RT2 RH1,            &kt LHYPER                           )
CUSTOM_COMBO(  rt2rh2,         RT2 RH2,            &kt LSHIFT                           )
CUSTOM_COMBO(  rt2rh3,         RT2 RH3,            &kt LGUI                             )
CUSTOM_COMBO(  rt2rh4,         RT2 RH4,            &kt LALT                             )
CUSTOM_COMBO(  rt2rh5,         RT2 RH5,            &kt LCTRL                            )

CUSTOM_COMBO(  lt2lh5lh4,      LT2 LH5 LH4,        &kt LC(LALT)                         )
CUSTOM_COMBO(  lt2lh5lh3,      LT2 LH5 LH3,        &kt LC(LGUI)                         )
CUSTOM_COMBO(  lt2lh5lh2,      LT2 LH5 LH2,        &kt LC(LSHIFT)                       )
CUSTOM_COMBO(  lt2lh4lh3,      LT2 LH4 LH3,        &kt LA(LGUI)                         )
CUSTOM_COMBO(  lt2lh4lh2,      LT2 LH4 LH2,        &kt LA(LSHIFT)                       )
CUSTOM_COMBO(  lt2lh3lh2,      LT2 LH3 LH2,        &kt LG(LSHIFT)                       )
CUSTOM_COMBO(  lt2lh5lh4lh3,   LT2 LH5 LH4 LH3,    &kt LC(LA(LGUI))                     )
CUSTOM_COMBO(  lt2lh5lh4lh2,   LT2 LH5 LH4 LH2,    &kt LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  lt2lh5lh3lh2,   LT2 LH5 LH3 LH2,    &kt LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  lt2lh4lh3lh2,   LT2 LH4 LH3 LH2,    &kt LA(LG(LSHIFT))                   )

CUSTOM_COMBO(  rt2rh5rh4,      RT2 RH5 RH4,        &kt LC(LALT)                         )
CUSTOM_COMBO(  rt2rh5rh3,      RT2 RH5 RH3,        &kt LC(LGUI)                         )
CUSTOM_COMBO(  rt2rh5rh2,      RT2 RH5 RH2,        &kt LC(LSHIFT)                       )
CUSTOM_COMBO(  rt2rh4rh3,      RT2 RH4 RH3,        &kt LA(LGUI)                         )
CUSTOM_COMBO(  rt2rh4rh2,      RT2 RH4 RH2,        &kt LA(LSHIFT)                       )
CUSTOM_COMBO(  rt2rh3rh2,      RT2 RH3 RH2,        &kt LG(LSHIFT)                       )
CUSTOM_COMBO(  rt2rh5rh4rh3,   RT2 RH5 RH4 RH3,    &kt LC(LA(LGUI))                     )
CUSTOM_COMBO(  rt2rh5rh4rh2,   RT2 RH5 RH4 RH2,    &kt LC(LA(LSHIFT))                   )
CUSTOM_COMBO(  rt2rh5rh3rh2,   RT2 RH5 RH3 RH2,    &kt LC(LG(LSHIFT))                   )
CUSTOM_COMBO(  rt2rh4rh3rh2,   RT2 RH4 RH3 RH2,    &kt LA(LG(LSHIFT))                   )
