/// ---------------------------------------------------------------------------
/// Combo: Panic (available in all layers, including AFK, Switch, etc)

ADD_COMBO(1, LL5 LL2 RL5 RL2,    &tog AFK,                      LAYERS_ALL)

ADD_COMBO(1, RH4 RH2,            &m_reset_layers,               LAYERS_ALL)
ADD_COMBO(1, LH4 LH2,            &m_reset_layers,               LAYERS_ALL)

ADD_COMBO(1, LH3 LH1,            &kp Y_NEXT_WINDOW,             LAYERS_ALL)
ADD_COMBO(1, RH3 RH1,            &kp Y_NEXT_WINDOW,             LAYERS_ALL)

ADD_COMBO(1, LH4 LH1,            &kp Y_NEXT_APPLICATION,        LAYERS_ALL)
ADD_COMBO(1, RH4 RH1,            &kp Y_NEXT_APPLICATION,        LAYERS_ALL)

/// ---------------------------------------------------------------------------
/// Combo: Layouts

ADD_COMBO(1, BK_TYPING RH1,      &to QWERTY,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_TYPING RH2,      &to HARMONY,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_TYPING RH3,      &to COLEMAK,                   LAYERS_NORMAL)


/// ---------------------------------------------------------------------------
/// Combo: System

ADD_COMBO(1, LU4 LU3 LU2,        &kp Y_FORCE_QUIT,              LAYERS_NORMAL)
ADD_COMBO(1, LH4 LH3 LH2,        &kp K_MUTE,                    LAYERS_NORMAL)
ADD_COMBO(1, LL4 LL3 LL2,        &kp Y_LOCK_SCREEN,             LAYERS_NORMAL)

ADD_COMBO(1, RU4 RU3 RU2,        &kp Y_FORCE_QUIT,              LAYERS_NORMAL)
ADD_COMBO(1, RH4 RH3 RH2,        &kp K_MUTE,                    LAYERS_NORMAL)
ADD_COMBO(1, RL4 RL3 RL2,        &kp Y_LOCK_SCREEN,             LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: Keyboard

ADD_COMBO(1, RU4 RU3 RU1,        &bootloader,                   LAYERS_NORMAL)
ADD_COMBO(1, RH4 RH3 RH1,        &sys_reset,                    LAYERS_NORMAL)
ADD_COMBO(1, RL4 RL3 RL1,        &bt BT_CLR,                    LAYERS_NORMAL)

ADD_COMBO(1, LU4 LU3 LU1,        &bootloader,                   LAYERS_NORMAL)
ADD_COMBO(1, LH4 LH3 LH1,        &sys_reset,                    LAYERS_NORMAL)
ADD_COMBO(1, LL4 LL3 LL1,        &bt BT_CLR,                    LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: Misc

ADD_COMBO(1, RU2 RH4,            &kp MINUS,                     LAYERS_NORMAL)
ADD_COMBO(1, LU2 LH4,            &kp EQUAL,                     LAYERS_NORMAL)

ADD_COMBO(1, RH2 RU4,            &kp MINUS,                     LAYERS_NORMAL)
ADD_COMBO(1, LH2 LU4,            &kp EQUAL,                     LAYERS_NORMAL)
