/// ---------------------------------------------------------------------------
/// Combo: symmetric combos, two-handed

ADD_COMBO(1, LU5 RU5,            &kp EXCL,                      LAYERS_NORMAL)
ADD_COMBO(0, LU4 RU5,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, LU3 RU3,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, LU2 RU2,            XXXXXXXXXX,                    LAYERS_NORMAL)
ADD_COMBO(0, LU1 RU1,            XXXXXXXXXX,                    LAYERS_NORMAL)

ADD_COMBO(1, LH5 RH5,            &sk LCTRL,                     LAYERS_NORMAL)
ADD_COMBO(1, LH4 RH4,            &sk LALT,                      LAYERS_NORMAL)
ADD_COMBO(1, LH3 RH3,            &sk LGUI,                      LAYERS_NORMAL)
ADD_COMBO(1, LH2 RH2,            &sk LSHIFT,                    LAYERS_NORMAL)
ADD_COMBO(1, LH1 RH1,            &sk LHYPER,                    LAYERS_NORMAL)

ADD_COMBO(1, LL5 RL5,            &kp Y_UNDO,                    LAYERS_NORMAL)
ADD_COMBO(1, LL4 RL4,            &kp Y_CUT,                     LAYERS_NORMAL)
ADD_COMBO(1, LL3 RL3,            &kp Y_COPY,                    LAYERS_NORMAL)
ADD_COMBO(1, LL2 RL2,            &kp Y_PASTE,                   LAYERS_NORMAL)
ADD_COMBO(1, LL1 RL1,            &sk LMEH,                      LAYERS_NORMAL)

ADD_COMBO(1, LT2 RT2,            &caps_word,                    LAYERS_NORMAL)
ADD_COMBO(1, LT1 RT1,            &kp CAPS,                      LAYERS_NORMAL)
