/// ---------------------------------------------------------------------------
/// Combo: / + ? /// Terminal: tmux, nvim, etc...


CUSTOM_COMBO(  rl5lu5,         RL5 LU5,            &m_nvim_quit_all                    )
CUSTOM_COMBO(  rl5lu4,         RL5 LU4,            &m_nvim_save_all                    )
/*
CUSTOM_COMBO(  rl5lu3,         RL5 LU3,            XXXXXXXXXX                          )
CUSTOM_COMBO(  rl5lu2,         RL5 LU2,            XXXXXXXXXX                          )
CUSTOM_COMBO(  rl5lu1,         RL5 LU1,            XXXXXXXXXX                          )
*/


CUSTOM_COMBO(  rl5lh5,         RL5 LH5,            &m_nvim_search_all                  )
CUSTOM_COMBO(  rl5lh4,         RL5 LH4,            &m_nvim_search                      )
/*
CUSTOM_COMBO(  rl5lh3,         RL5 LH3,            XXXXXXXXXX                          )
CUSTOM_COMBO(  rl5lh2,         RL5 LH2,            XXXXXXXXXX                          )
CUSTOM_COMBO(  rl5lh1,         RL5 LH1,            XXXXXXXXXX                          )
*/


/*
CUSTOM_COMBO(  rl5ll5,         RL5 LL5,            Reserved: Symmetric                 )
CUSTOM_COMBO(  rl5ll4,         RL5 LL4,            XXXXXXXXXX                          )
*/
CUSTOM_COMBO(  rl5ll3,         RL5 LL3,            &m_tmux_copy_mode                   )
/*
CUSTOM_COMBO(  rl5ll2,         RL5 LL2,            XXXXXXXXXX                          )
CUSTOM_COMBO(  rl5ll1,         RL5 LL1,            XXXXXXXXXX                          )
*/
