/// ---------------------------------------------------------------------------
/// Thumb combos

ADD_COMBO(1, LT1 LT2,               &sl NUMPAD,                    LAYERS_NORMAL)
ADD_COMBO(1, RT1 RT2,               &sl NUMBERS,                   LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: one-handed, two-fingered one-shots (layers/mods), mirrored

ADD_COMBO(1, BK_SLL LU5,            &sl CONTROLS,                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU4,            &sl NUMPAD,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU3,            &sl NUMBERS,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU2,            &sl SYMBOLS,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU1,            &sl SWITCH,                    LAYERS_NORMAL)

ADD_COMBO(1, BK_SKL LH5,            &sk LCTRL,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH4,            &sk LALT,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH3,            &sk LGUI,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH2,            &sk LSHIFT,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LH1,            &sl NAV,                       LAYERS_NORMAL)

ADD_COMBO(1, BK_SKL LL5,            &sk LA(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LL4,            &sk LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LL3,            &sk LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LL2,            &sk LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LL1,            &sk LHYPER,                    LAYERS_NORMAL)

ADD_COMBO(1, BK_SLR RU1,            &sl SWITCH,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU2,            &sl SYMBOLS,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU3,            &sl NUMBERS,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU4,            &sl NUMPAD,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU5,            &sl CONTROLS,                  LAYERS_NORMAL)

ADD_COMBO(1, BK_SLR RH1,            &sl NAV,                       LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH2,            &sk RSHIFT,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH3,            &sk RGUI,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH4,            &sk RALT,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH5,            &sk RCTRL,                     LAYERS_NORMAL)

ADD_COMBO(1, BK_SKR RL1,            &sk LHYPER,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RL2,            &sk LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RL3,            &sk LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RL4,            &sk LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RL5,            &sk LA(LG(LSHIFT)),            LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: one-handed, three-fingered one-shots (layers/mods), mirrored

ADD_COMBO(1, BK_SLL LU5 LU4,        &sl SNIPE,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU4 LU3,        &sl SCROLL,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU3 LU2,        &sl MOUSE,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_SLL LU2 LU1,        &sl PICO8,                     LAYERS_NORMAL)

ADD_COMBO(1, BK_SLR RU2 RU1,        &sl PICO8,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU3 RU2,        &sl MOUSE,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU4 RU3,        &sl SCROLL,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_SLR RU5 RU4,        &sl SNIPE,                     LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: one-handed, multi-fingered one-shots (mods), mirrored

ADD_COMBO(1, BK_SKL LH5 LH4,        &sk LC(LALT),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH5 LH3,        &sk LC(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH5 LH2,        &sk LC(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH4 LH3,        &sk LA(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH4 LH2,        &sk LA(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH3 LH2,        &sk LG(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH5 LH4 LH3,    &sk LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH5 LH4 LH2,    &sk LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH5 LH3 LH2,    &sk LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_SKL LH4 LH3 LH2,    &sk LA(LG(LSHIFT)),            LAYERS_NORMAL)

ADD_COMBO(1, BK_SKR RH5 RH4,        &sk LC(LALT),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH5 RH3,        &sk LC(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH5 RH2,        &sk LC(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH4 RH3,        &sk LA(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH3 RH2,        &sk LG(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH4 RH2,        &sk LA(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH5 RH4 RH3,    &sk LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH5 RH4 RH2,    &sk LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH5 RH3 RH2,    &sk LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_SKR RH4 RH3 RH2,    &sk LA(LG(LSHIFT)),            LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: one-handed, two-fingered toggles (layers/modes), mirrored

ADD_COMBO(1, BK_TGL LU5,            &tog CONTROLS,                 LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU4,            &tog NUMPAD,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU3,            &tog NUMBERS,                  LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU2,            &tog SYMBOLS,                  LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU1,            &tog SWITCH,                   LAYERS_NORMAL)

ADD_COMBO(1, BK_KTL LH5,            &kt LCTRL,                     LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH4,            &kt LALT,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH3,            &kt LGUI,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH2,            &kt LSHIFT,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LH1,            &tog NAV,                      LAYERS_NORMAL)

ADD_COMBO(1, BK_KTL LL5,            &kt LA(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LL4,            &kt LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LL3,            &kt LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LL2,            &kt LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LL1,            &kt LHYPER,                    LAYERS_NORMAL)

ADD_COMBO(1, BK_TGR RU1,            &tog SWITCH,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU2,            &tog SYMBOLS,                  LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU3,            &tog NUMBERS,                  LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU4,            &tog NUMPAD,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU5,            &tog CONTROLS,                 LAYERS_NORMAL)

ADD_COMBO(1, BK_TGR RH1,            &tog NAV,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH2,            &kt RSHIFT,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH3,            &kt RGUI,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH4,            &kt RALT,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH5,            &kt RCTRL,                     LAYERS_NORMAL)

ADD_COMBO(1, BK_KTR RL1,            &kt LHYPER,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RL2,            &kt LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RL3,            &kt LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RL4,            &kt LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RL5,            &kt LA(LG(LSHIFT)),            LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: one-handed, three-fingered toggles (layers/mods), mirrored

ADD_COMBO(1, BK_TGL LU5 LU4,        &tog SNIPE,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU4 LU3,        &tog SCROLL,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU3 LU2,        &tog MOUSE,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_TGL LU2 LU1,        &tog PICO8,                    LAYERS_NORMAL)

ADD_COMBO(1, BK_TGR RU2 RU1,        &tog PICO8,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU3 RU2,        &tog MOUSE,                    LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU4 RU3,        &tog SCROLL,                   LAYERS_NORMAL)
ADD_COMBO(1, BK_TGR RU5 RU4,        &tog SNIPE,                    LAYERS_NORMAL)

/// ---------------------------------------------------------------------------
/// Combo: one-handed, multi-fingered toggles (mods), mirrored

ADD_COMBO(1, BK_KTL LH5 LH4,        &kt LC(LALT),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH5 LH3,        &kt LC(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH5 LH2,        &kt LC(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH4 LH3,        &kt LA(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH4 LH2,        &kt LA(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH3 LH2,        &kt LG(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH5 LH4 LH3,    &kt LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH5 LH4 LH2,    &kt LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH5 LH3 LH2,    &kt LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_KTL LH4 LH3 LH2,    &kt LA(LG(LSHIFT)),            LAYERS_NORMAL)

ADD_COMBO(1, BK_KTR RH5 RH4,        &kt LC(LALT),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH5 RH3,        &kt LC(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH5 RH2,        &kt LC(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH4 RH3,        &kt LA(LGUI),                  LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH4 RH2,        &kt LA(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH3 RH2,        &kt LG(LSHIFT),                LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH5 RH4 RH3,    &kt LC(LA(LGUI)),              LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH5 RH4 RH2,    &kt LMEH,                      LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH5 RH3 RH2,    &kt LC(LG(LSHIFT)),            LAYERS_NORMAL)
ADD_COMBO(1, BK_KTR RH4 RH3 RH2,    &kt LA(LG(LSHIFT)),            LAYERS_NORMAL)
